
<div class="container">
  <div class="content">
    <div class="content-container">     

      <div>
        <h4 class="heading-inline">Tin Numbers</h4>        
      </div><br>

      <div class="row"> 
        <div class="portlet">
    
            <div class="portlet-header">
                <h3><i class="fa fa-barcode"></i>Add Tin Number</h3>
            </div> <!-- /.portlet-header -->

            <div class="portlet-content">
                <%= form_for @tin_number do |f| %>
                    <% if @tin_number.errors.any? %>
                       <div class="col-md-6">
                          <div class= "alert alert-danger">
                            <% @tin_number.errors.full_messages.each do |error| %>
                              <ul>
                                <li><%= error  %></li>
                              </ul>
                            <% end %>
                          </div>
                       </div>
                    <% end %>
                    
                    <div class="col-sm-8"> 
                      <b style="color:red">*</b>&nbsp;<b>Indicates the mandatory fields</b><br/><br/>
                        
                        <div class="row">  
                          <label class="col-md-3">State&nbsp;&nbsp;<b style="color:red">*</b></label>
                            <div class="col-md-6">
                              <div id="name" class="input-group">               
                                <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                                <%= f.text_field :state ,class: "form-control", :autofocus => true, required: true %>
                              </div>
                            </div>
                        </div>
                        <br>
  
                        <div class="row">
                          <label class="col-md-3">Tin Number&nbsp;&nbsp;<b style="color:red">*</b></label>
                            <div class="col-md-6">
                              <div id="name" class="input-group">               
                                <span class="input-group-addon"><i class="fa fa-sort-numeric-asc"></i></span>
                                <%= f.text_field :tin_number, :maxlength => 11,  class: "form-control", required: true %>
                              </div>
                            </div>
                        </div><br>

                        <div class="row">
                          <div class="col-md-3"></div>
                          <div class="col-md-6">
                              <%= f.submit "Add Tin Number", class: "btn btn-success" %>&nbsp;&nbsp;&nbsp;<%= link_to "Cancel", tin_numbers_path , class: "btn btn-success" %>
                          </div>
                        </div>
                    </div><!-- col-sm-8 ends here -->
                <% end %>
              </div><!-- portlet content ends here -->
          </div><!-- portlet ends here -->
     </div><!-- row ends here -->
   </div><!-- content container ends here -->
 </div><!-- content ends here -->
</div><!-- container ends here -->
