<!DOCTYPE html>
<html lang="en">
<head>
<title>Vatonwheels</title>
<meta charset="utf-8">    
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


<meta name="description" content="Your description">
<meta name="keywords" content="Your keywords">
<meta name="author" content="Your name">
<meta name = "format-detection" content = "telephone=no" />

  

  
<script>
    $(document).ready(function(){
        jQuery('.camera_wrap').camera();
    });
</script>
<script>
   $(window).load(function() {
     // Initialize the gallery
    $('.thumb-box4 figure a').touchTouch();
  });
</script>
<script>
	$(window).load(function() {
		$(function() {
            $('.foo1').carouFredSel({
				auto: true,
				responsive: true,
				width: '100%',
				scroll: 1,
                prev: '.prev1',
				next: '.next1',
				items: {
					height: 'auto',
					width:200,
					visible: {
						min: 1,
						max: 6
					}
				},
				mousewheel: true,
				swipe: {
					onMouse: true,
					onTouch: true
				}
			});
            $('#foo2').carouFredSel({
				auto: false,
				responsive: true,
				width: '100%',
				scroll: 1,
                pagination  : "#foo2_pag",
				items: {
					height: 'auto',
					width:300,
					visible: {
						min: 1,
						max: 1
					}
				},
				mousewheel: true,
				swipe: {
					onMouse: true,
					onTouch: true
				}
			});
		}); 	 				
    });
</script>

<script>
    $(document).ready(function () {       
      if ($('html').hasClass('desktop')) {
        new WOW().init();
      }   
    });
</script>
  
   <script type="text/javascript">

        marqueeInit({
            uniqueid: 'mycrawler1',
            style: {
                'padding':'5px',
                'margin':'5px',
                'width': '100%',
                'height': 'auto'
            },
            inc: 2, //speed - pixel increment for each iteration of this marquee's movement
            mouse: 'pause', //mouseover behavior ('pause' 'cursor driven' or false)
            moveatleast: 2,
            neutral: 150,
            savedirection: true,
            random: false
        });
 
    </script>
    
<!--<![endif]-->


</head>
<body>
<!--header-->
<header class="clearfix">
<div class="container">

<h1 class="navbar-brand navbar-brand_ wow fadeInDown">
<%= link_to "Vatonwheels.com", root_path %></h1>
  

<div align="center">
<%= link_to "SIGN IN", new_authuser_session_path, class: "signinbut" %>
</div>
 

<ul class="follow_icon">
<li><a href="https://www.facebook.com/IPrimitusConsultancyServices" class="fa fa-facebook"></a></li>
<li><a href="https://twitter.com/iPrimitus" class="fa fa-twitter"></a></li>
<li><a href="https://www.linkedin.com/company/iprimitus-consultancy-services" class="fa fa-linkedin"></a></li>
<li><a href="https://plus.google.com/108877132961366118945/videos" class="fa fa-google-plus"></a></li>
<li><a href="#" class="fa fa-youtube"></a></li>
</ul>
  <% if notice %>
   <div class="col-md-6">
     <div class="alert alert-success"><%= notice %></div>
   </div>
      <% end %>
 
</div>   <!-- container ends here -->
</header>
 <!-- header ends here -->
  
  
<div class="slider">  
<div class="camera_wrap"> 
  
<div><%= image_tag "picture1.jpg" %><div class="camera-caption fadeIn"><p class="title">United by the hobby<br>of model aircraft flying</p></div></div>
<!-- <div><%= image_tag "picture2.jpg" %><div class="camera-caption fadeIn"><p class="title">United by the hobby<br>of model aircraft flying</p></div></div>
<div><%= image_tag "picture3.jpg" %><div class="camera-caption fadeIn"><p class="title">United by the hobby<br>of model aircraft flying</p></div></div>  -->
        
 <!-- <div data-src="picture1.jpg"><div class="camera-caption fadeIn"><p class="title">United by the hobby<br>of model aircraft flying</p></div></div>
        <div data-src="picture2.jpg"><div class="camera-caption fadeIn"><p class="title">Promoting the safe<br>radio model flying</p></div></div>
        <div data-src="picture3.jpg"><div class="camera-caption fadeIn"><p class="title">Sharing the experience<br>of the best pastime</p></div></div>  -->
      
</div> <!-- camera_wrap ensds here -->
</div> <!-- slider ends here -->
  
<!--content-->
<div class="content"> 
  
<div class="thumb-box1">
<div class="container">            
<div class="row">
  
<div class="col-lg-4 col-md-4 col-sm-4 maxheight wow fadeInUp">
<div class="thumb-pad1">
  
<div class="thumbnail">                           
<div class="caption">
<strong>Who We Are</strong>
</div>   <!-- caption ends here -->
</div> <!-- thumbnail ends here -->
  
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quisnostrud exercitation ullamco laboris nisi.</p>

<a href="#" class="btn-default btn1">Read More</a>

</div> <!-- thumb-pad1" ends here -->
</div> <!-- col-lg-4 col-md-4 col-sm-4 maxheight wow fadeInUp" -->

<div class="col-lg-4 col-md-4 col-sm-4 maxheight wow fadeInUp" data-wow-delay="0.1s">
<div class="thumb-pad1">
  
<div class="thumbnail">                            
<div class="caption">
<strong>What We Do</strong>
</div>  <!-- caption ends here -->
</div> <!-- thumbnail ends here -->
  
<p>Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quisnostrud exercitation ullamco laboris.nisi ut aliquip ex ea.</p>
  
<a href="#" class="btn-default btn1">Read More</a>

</div> <!-- thumb-pad1 ends here -->
</div> <!-- col-lg-4 col-md-4 col-sm-4 maxheight wow fadeInUp -->

<div class="col-lg-4 col-md-4 col-sm-4 maxheight wow fadeInUp" data-wow-delay="0.2s">
<div class="thumb-pad1">
  
<div class="thumbnail">                           
<div class="caption">
<strong>Why Choose Us</strong>
</div>  <!--caption ends here --> 
</div> <!-- thumbnail ends here -->
  
<p>Massa ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim exercitation ullamcolaboris nisi ut aliquip ex ea commodo consequat.</p>

<a href="#" class="btn-default btn1">Read More</a>
 
</div> <!-- thumb-pad1 ends here -->
</div> <!-- col-lg-4 col-md-4 col-sm-4 maxheight wow fadeInUp -->
  
</div> <!-- row ends here -->
</div> <!-- container ends here -->
</div> <!-- thumb-box1 ends here -->
  
<div class="thumb-box2">
<div class="container">
  
<p class="title wow fadeIn">Welcome to our website</p>        
  
<div class="row">
  
<div class="col-lg-8 col-md-8 col-sm-12 wow fadeInUp">
<div class="thumb-pad2">
<div class="thumbnail">                            
<div class="caption">                                
  
<p>Molestias excepturi sint occaecati cupificia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis... Nam libero tempore, cum soluta nobis est eligendi...Molestias excepturi sint occaecati cupificia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis... Nam libero tempore, cum soluta nobis est eligendi...Molestias excepturi sint occaecati cupificia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis... Nam libero tempore, cum soluta nobis est eligendi...Molestias excepturi sint occaecati cupificia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis... Nam libero tempore, cum soluta nobis est eligendi...Molestias excepturi sint occaecati cupificia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis... Nam libero tempore, cum soluta nobis est eligendi...Molestias excepturi sint occaecati cupificia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis...</p>
                               
<p>Molestias excepturi sint occaecati cupificia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis... Nam libero tempore, cum soluta nobis est eligendi...Molestias excepturi sint occaecati cupificia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis... Nam libero tempore, cum soluta nobis est eligendi...Molestias excepturi sint occaecati cupificia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis... Nam libero tempore, cum soluta nobis est eligendi...Molestias excepturi sint occaecati cupificia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis... Nam libero tempore, cum soluta nobis est eligendi...Molestias excepturi sint occaecati cupificia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis... Nam libero tempore, cum soluta nobis est eligendi...Molestias excepturi sint occaecati cupificia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis...</p>  
                               
</div>   <!-- caption ends here-->
</div> <!--thumbnail ends here -->
</div> <!--thumb-pad2 ends here-->
</div> <!-- col-lg-8 col-md-8 col-sm-12 wow fadeInUp" ends here -->
                
<div class="col-lg-4 col-md-4 col-sm-12 wow fadeInUp" data-wow-delay="0.2s">
<div class="thumb-pad2">
<div class="thumbnail">

<div><iframe src="https://www.youtube.com/embed/MyxcBQmMCfY" class="vid" frameborder="0" allowfullscreen></iframe></div>
  
<div class="caption">
<strong>Video</strong>
</div>   <!-- caption ends here -->
  
</div> <!-- thumbnail ends here -->
</div> <!-- thumb-pad2 ends here -->
</div> <!-- col-lg-4 col-md-4 col-sm-12 wow fadeInUp ends here -->
  
</div> <!-- row ends here -->
</div> <!-- container ends here -->
</div> <!-- thumb-box2 ends here -->
 
<div class="thumb-box3">
<div class="container">
<p class="title wow fadein"><span>Quick Links</span></p>

<div class="row">
  
<div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp">
<div class="thumb-pad3">
<div class="thumbnail">
  
<strong class="fa fa-star"></strong>
  
<div class="caption">
<p class="description">odio dignissimos ducimus </p>

<ul class="list1">
<li><a href="#">At vero eos et accusamus et iusto</a></li>
<li><a href="#">odio dignissimos ducimus qui</a></li>
<li><a href="#">blanditiis praesentium volutum</a></li>
<li><a href="#">deleniti atque</a></li>
<li><a href="#">corrupti quos dolores et</a></li>
</ul>
</div>   <!-- caption ends here -->
  
</div> <!-- thumbnail ends here -->
</div> <!-- thumb-pad3 ends here -->
</div> <!-- "col-lg-4 col-md-4 col-sm-4 wow fadeInUp ends here -->

<div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.1s">
<div class="thumb-pad3">
<div class="thumbnail">
<strong class="fa fa-star"></strong>
  
<div class="caption">
<p class="description">Temporibus autem</p>
 
<ul class="list1">
<li><a href="#">Eero eos et accusamus et iusto</a></li>
<li><a href="#">odio dignissimos ducimus qui</a></li>
<li><a href="#">blanditiis praesentium volup</a></li>
<li><a href="#">tatum deleniti atque</a></li>
<li><a href="#">corrupti quos dolores et</a></li>
</ul>
</div>   <!-- caption ends here -->
  
</div> <!-- thumbnail -->
</div> <!--  thumb-pad3 ends here -->
</div> <!-- col-lg-4 col-md-4 col-sm-4 wow fadeInUp" -->
  
<div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.2s">
<div class="thumb-pad3">
<div class="thumbnail">
<strong class="fa fa-star"></strong>
  
<div class="caption">
<p class="description">officiis debitis aut</p>

<ul class="list1">
<li><a href="#">uos dolores et quas molestias</a></li>
<li><a href="#">excepturi sint occaecati cupiditate</a></li>
<li><a href="#">nonnsimilique sunt in culpa qui </a></li>
<li><a href="#">officia deserunt molli id est</a></li>
<li><a href="#">laborum et dolorum fuga</a></li>
</ul>
</div>   <!-- caption ends here -->
  
</div> <!-- thumbnail" -->
</div> <!-- thumb-pad3 -->
</div> <!-- col-lg-4 col-md-4 col-sm-4 wow fadeInUp -->
  
  
</div> <!-- row ends here -->
</div> <!-- container ends here -->
</div> <!-- thumb-box3 ends here -->
 
  
<div class="thumb-box4">
<div class="container">
<p class="title wow fadeIn"><span>our Services</span></p>

<div class="row">
  
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
  <figure class="wow zoomIn"><a href="img/img6.jpg"><i></i><span></span>
<%= image_tag("page1_pic4.jpg") %>
</a></figure>
</div>

<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
<figure class="wow zoomIn" data-wow-delay="0.1s"><a href="img/img7.jpg"><i></i><span></span>
<%= image_tag ("page1_pic5.jpg") %></a></figure>
</div>

<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
<figure class="wow zoomIn" data-wow-delay="0.2s"><a href="img/img5.jpg"><i></i><span></span>
<%= image_tag ("page1_pic6.jpg") %></a></figure>
</div>

<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
<figure class="wow zoomIn" data-wow-delay="0.3s"><a href="img/img8.jpg"><i></i><span></span>
<%= image_tag ("page1_pic7.jpg") %></a></figure>
</div>

</div> <!-- row ends here -->

<a href="#" class="btn-default btn3 wow fadeInUp" data-wow-delay="0.1s">View All</a>     
  
</div> <!-- container ends here -->
</div> <!-- thumb-box4 ends here -->
    
<div class="thumb-box6">    
<div class="container">
  
<p class="title wow fadeIn"><span>our Clients</span></p>
<div class="marquee" id="mycrawler1">
<%= image_tag("page1_company1.png", alt: " ", class: "padboard") %>
<%= image_tag("page1_company2.png", alt: " ", class: "padboard") %>
<%= image_tag("page1_company3.png", alt: " ", class: "padboard") %>
<%= image_tag("page1_company4.png", alt: " ", class: "padboard") %>
<%= image_tag("page1_company5.png", alt: " ", class: "padboard") %>
<%= image_tag("page1_company6.png", alt: " ", class: "padboard") %>
 </div>

</div> <!-- container ends here -->
</div> <!-- thumb-box6" edns here -->
    
</div> <!-- content ends here -->
  
<!--footer-->
<footer>
<div class="container">
<div class="row">
<div class="col-lg-4 col-md-4 col-sm-12 wow fadeInUp">
<p class="title2">Copyright</p>

<ul class="follow_icon2">
<li><a href="https://www.facebook.com/IPrimitusConsultancyServices" class="fa fa-facebook"></a></li>
<li><a href="https://twitter.com/iPrimitus" class="fa fa-twitter"></a></li>
<li><a href="https://www.linkedin.com/company/iprimitus-consultancy-services" class="fa fa-linkedin"></a></li>
<li><a href="https://plus.google.com/108877132961366118945/videos" class="fa fa-google-plus"></a></li>
<li><a href="#" class="fa fa-youtube"></a></li>                                       
</ul>
  
<p class="title">&copy; 2015 vatonwheels.com</p>
<p class="prev"><a href="index-5.html">Privacy Policy</a></p>
              
<p class="title">Design and Developed by</p>
<p ><a href="http://iprimitus.com" target="_blank" class="iprim">iprimitus.com</a></p>
</div>   <!-- col-lg-4 col-md-4 col-sm-12 wow fadeInUp ends here -->     
            
            
            
<div class="col-lg-4 col-md-4 col-sm-12 wow fadeInUp" data-wow-delay="0.1s">
<p class="title2">Contact Address</p>
<div class="foo_info">
<p>9870 St Vincent Place,<br>Glasgow, DC 45 Fr 45.<br>Freephone: +1 800 559 6580<br>Telephone:  +1 800 603 6035<br>FAX: +1 800 889 9898</p>
<br>
</div> <!-- class="foo_info ends here -->
</div> <!-- col-lg-4 col-md-4 col-sm-12 wow fadeInUp ends here -->

  
<div class="col-lg-4 col-md-4 col-sm-12 wow fadeInUp" data-wow-delay="0.2s">
<p class="title2">Quick Contact</p>
 <!--  For Enquiry , click <%= link_to "here", new_enquiry_form_path %> -->
 <%= form_for(@enquiry_form) do |f| %>
<div class="row">                
<div class="col-lg-4 quickname">Name :</div>
<div class="col-lg-8">
  <%= f.text_field :name , placeholder: "Name", class: "quickfield" %>
<!--<input type="text" placeholder="Name" class="quickfield"/> -->
</div>
  
</div> <!-- row ends here -->
                
<div class="row">                
<div class="col-lg-4 quickname">Email :</div>
<div class="col-lg-8">
<%= f.email_field :email, class: "quickfield", placeholder: "Email" %>
<!-- <input type="text" placeholder="Email" class="quickfield"/> -->
</div>
</div> <!-- row ends here -->
                
<div class="row">                
<div class="col-lg-4 quickname">Phone :</div>
<div class="col-lg-8">
<%= f.text_field :phone_number, placeholder: "Phone Number", class: "quickfield" %>  
<!-- <input type="text" placeholder="Phone" class="quickfield"/> -->
</div>
</div> <!-- row ends here -->
                
<div class="row">                
<div class="col-lg-4 quickname">Comments :</div>
<div class="col-lg-8">
<%= f.text_area :comments , class: "quickfield2" %>
<!-- <textarea class="quickfield2"></textarea> -->
</div>                	
</div> <!-- row ends here -->
                
<div class="row">                
<div class="col-lg-4 quickname"></div>
<div class="col-lg-8">
<%= f.submit "Submit", class: "enterbut" %>
<% end %>
 <!-- <a href="#" class="enterbut">Submit</a>-->
  </div>                	
</div> <!-- row ends here -->
                
                
</div> <!-- col-lg-4 col-md-4 col-sm-12 wow fadeInUp ends here -->

</div> <!-- footer row ends here -->
</div> <!-- footer container ends here -->
  <!-- {%FOOTER_LINK} -->
</footer>


</body>
</html>