<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300,700">
 
</head>

<body>

 <div class="container">
 <div class="content">
 <!-- <div class="content-container">      -->
  
<%= form_for(@admin, :url => '/admins') do |f| %>
<% if @admin.errors.any? %>
<% @admin.errors.full_messages.each do|error| %>
<ul>
  <li><%= error %></li>
</ul>
<% end %>
<% end %>
<label> Name </label><br/>
 <%= f.text_field :name, autofocus: true %><br/><p>
<label> Email </label><br/>
<%= f.text_field :email %><br/><p>
<label> Password </label><br/>
<%= f.password_field :password %><br/><p>

<%= f.hidden_field :invited_by_id %>

<label> Phone Number </label><br/>
<%= f.fields_for :membership do |admin_membership| %>
<%= admin_membership.text_field :phone_number %><br/><p>


<%= admin_membership.hidden_field :membership_start_date, :value => Date.today %>
<%= admin_membership.hidden_field :membership_end_date, :value => Date.today+ 10.years %><br/>
<% end %>

<%= f.fields_for :address do |admin_address| %>
<label> Address 1 </label><br/>
<%= admin_address.text_field :address_line_1 %><br/><p>

<label> City </label><br/>
<%= admin_address.text_field :city %><br/><p>

<label> Country </label><br/>
<%= admin_address.text_field :country %><br/><p>
<% end %>

<%= f.fields_for :permissions do |admin_permission| %>
<%= admin_permission.hidden_field :main_role_id, :value => 1.to_i %>
<% end %>

<%= f.hidden_field :approved, :value => true %>

<%= f.submit  %>
  <% end %>
  

