<h3><%= current_user.name %></h3>
User Name: <%= current_authuser.name %><br/>
User Email: <%= current_authuser.email %><br/>
Tin Number : <%= @userprofile.tin_number %><br/>
Phone Number : <%= @userprofile.phone_number %><br/>
Address : <%= @userprofile.address %><br/>
City : <%= @userprofile.city %><br/>
Bank Account Number :<%=  @userprofile.bank_account_number %><br/>
Ifsc_code : <%= @userprofile.ifsc_code %>