

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
</head>

<body>

<header class="clearfix">
<div class="container">
   <%= image_tag "vaton wheels logo.png", class: "navbar-brand navbar-brand_ wow fadeInDown" , height: "100px" %>
<!-- <h1 class="navbar-brand navbar-brand_ wow fadeInDown"><a href="index.html">Vatonwheels.com</a></h1>       -->
<ul class="follow_icon">
<li><a href="https://www.facebook.com/IPrimitusConsultancyServices" class="fa fa-facebook"></a></li>
<li><a href="https://twitter.com/iPrimitus" class="fa fa-twitter"></a></li>
<li><a href="https://www.linkedin.com/company/iprimitus-consultancy-services" class="fa fa-linkedin"></a></li>
<li><a href="https://plus.google.com/108877132961366118945/videos" class="fa fa-google-plus"></a></li>
<!-- <li><a href="#" class="fa fa-youtube"></a></li> -->
</ul>
</div>   
</header>
  <br/><p>
  
  
<div class="content"> 
 <div class="register-container container">
   <div class="row"> 
       <div class="covrpage">         
          <div class="register">
            <% if devise_error_messages!.present? %>
                 <div class="row">
                   <div class="col-md-9">
                     <div class="alert alert-danger"><%= devise_error_messages! %></div>
                   </div>
                 </div>
               <% end %>
              
               <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
               <%= f.hidden_field :reset_password_token %>
                  <h2>Change Password</h2>
               
                    <label>New Password</label>
                    <%= f.password_field :password, autofocus: true, required: true, minlength: 8,  placeholder: 'Enter New Password' %> 
                        
                    <label>Confirm Password</label>
                    <%= f.password_field :password_confirmation, autocomplete: "off", minlength: 8, required: true, placeolder: 'Confirm Password' %>
                    <br/><br/>
                    <%= f.submit "Change my password" , class: "grenbutton" %><br/><p>
               <% end %>  
          </div><!-- register ends  -->
       </div><!-- covrpage ends -->
     </div><!-- row ends  -->
    </div><!-- register container ends  -->
   </div><!-- content ends -->

   <!--footer-->
   <footer>
    <div class="container">
      <div class="row">
       <div class="col-lg-9 col-md-6 col-sm-12 wow fadeInUp"> 
          <div class="title">&copy; 2015 vatonwheels.com</div>
          <p class="prev"><a href="index-5.html"></a></p>                 
       </div>  <!-- col ends -->
   
       <div class="col-lg-3 col-md-6 col-sm-12 wow fadeInUp">                             
         <div class="title">
           Design and Developed by &nbsp;&nbsp;<%= link_to "iPrimitus.com", "http://iprimitus.com", class: "indextitle" , target: "blank" %>
         </div>
       </div><!-- col lg ends -->
      </div><!-- row ends -->
    </div><!-- container ends here -->
   </footer>
 </body>
</html>
 