<table border="1">
  <thead>
   <tr>
    <th style="background-color:steelblue">Invoice Number</th>
    <th style="background-color:steelblue">Date</th>
    <th style="background-color:steelblue">Customer</th>
    <th style="background-color:steelblue">Tin Number</th>
    <th style="background-color:steelblue"> Product  </th>
    <th style="background-color:steelblue">Total Price</th>
   </tr>
  </thead>
  <% @user_bills.each do |bill| %>
   <tbody>
    <tr>
     <td><%= bill.invoice_number %></td>
     <td><%= bill.bill_date.strftime("%b %d %Y") %></td>
     <td><%= bill.customer.name %></td>
     <td><%= bill.customer.tin_number %></td>
     <td><%= bill.line_items.first.product.product_name %></td>   
     <td><%= bill.total_bill_price %></td>
    </tr>
   </tbody>
  <% end %>
   
   </table>