
<div class="container">
 <div class="content">
   <div class="content-container" id="bill_body">      

    <div>
       <h4 class="heading-inline">Bills</h4>        
    </div><br>
      
    <script type="text/javascript">
       $(document).ready(function(){
         $("#bill_date").datepicker({ dateFormat: "dd/mm/yy" }).val();
         $("#lr_date").datepicker({ dateFormat: "dd/mm/yy" }).val();
       });  
      
     // for automatic invoice number, paste the @number & make the field readonly!
          function populateInvoiceNumber(){
            $('#invoice_field').val("<%= @number %>");
            $('#check').val("automatic");
            $('#invoice_field').attr("readonly", true);                      
          }
    
         // for manual entry, make the field value blank & enable the field for manual entry.
          function prepareInvoiceFieldForManualEntry(){
             $('#invoice_field').val("");
             $('#check').val("manual");
             $('#invoice_field').attr("readonly", false);                      
          }    
         // if the user has selected for the automatic type of invoice.
         // for primary user
     <% if current_authuser.main_roles.first.role_name == "user" %>
           <% user = current_authuser %>
           <% if user.invoice_format == 'automatic' %>
              populateInvoiceNumber();  
           <% elsif user.invoice_format == "manual" %>
              prepareInvoiceFieldForManualEntry()
           <% end %>
         <% elsif current_authuser.main_roles.first.role_name == "secondary_user" %>
              <% primary_user_id = current_authuser.invited_by_id %>
              <% user = Authuser.where(:id => primary_user_id).first %>
              <% if user.invoice_format == 'automatic' %>
                 populateInvoiceNumber();  
              <% elsif user.invoice_format == "manual" %>
                 prepareInvoiceFieldForManualEntry()
              <% end %>
         <% end %>
    </script>   
  <br/>
  <div class="row">
    <%= nested_form_for(@bill)  do |f| %>
       <% if @bill.errors.any? %>
        <div class="col-md-6">
         <div class="alert alert-danger">
           <% @bill.errors.full_messages.each do |error| %>
             <ul>
               <li><%= error %></li>
             </ul>
           <% end %>
         </div>
        </div>
       <% end %>
       <% if alert %>
         <div class="row">
           <div class="col-md-6">
             <div class="alert alert-danger"><%= alert %></div>
           </div>
         </div>
       <% end %>
    
       <div class="portlet">
           <div class="portlet-header">
              <h3><i class="fa fa-tags"></i> Bill Details</h3>
           </div> <!-- /.portlet-header -->

          
           <div class="portlet-content">
               <% if notice %>
                 <div class="alert alert-success"><%= notice %></div> 
               <% end %>
               <div class="row">
  
                &nbsp;&nbsp;<b style="color:red">*</b> <b>Indicates the mandatory fields</b><br/>
                <br/>               
                   <div class="col-sm-3">           
                     <strong>Invoice Number &nbsp;<b style="color:red">*</b></strong> 
                     <div id="name" class="input-group">    
                        <span class="input-group-addon"><i class="fa fa-sort-numeric-asc"></i></span>
                       <%= f.text_field :invoice_number, class: "form-control", :id => "invoice_field", :maxlength => 15, :required => true %> 
                       <%= f.hidden_field :invoice_format, :id => "check" %>
                      
                     </div>
                   </div> <!-- /.col -->
  
                   <div class="col-sm-3">           
                     <strong>Bill Date&nbsp;<b style="color:red">*</b></strong> 
                       <div id="name" class="input-group">               
                          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                          <%= f.text_field :bill_date , :value => Date.today, class: "form-control", :id => "bill_date", :required => true %>
                       </div>
                   </div> <!-- /.col -->
                   
                   <%= f.hidden_field :pdf_format, :value => "Format1" %>
                   
                    <div class="col-sm-3">           
                       <strong>Customer&nbsp;<b style="color:red">*</b></strong> 
                        <div id="name" class="input-group">        
                          <span class="input-group-addon"><i class="fa fa-user"></i></span>
                          <%= f.collection_select :customer_id, @user_customers, :id, :company_name, {prompt: "Select Customer"}, {class: "form-control", :id => "drop-down", :required => true} %>
                        </div>
                    </div> <!-- /.col -->
                 </div><!-- row ends here -->
                 
               <br/>
             
           </div> <!-- portlet content ends here -->
       </div><!-- portlet ends here -->
   <!-- bill detail ends here -->
   <!-- Item details starts -->
       <div class="portlet">
         
           <div class="portlet-header">
             <h3><i class="fa fa-gift"></i>Item Details</h3>
           </div> <!-- /.portlet-header -->

         <div class="portlet-content" id="line_items_list">
           <%= f.fields_for :line_items do |bill_product| %>
               <div class="row"> 
                  <div class="col-sm-2">           
                     <strong>Item&nbsp;<b style="color:red">*</b></strong> 
                     <div id="name" class="input-group">   
                       <span class="input-group-addon"><i class="fa fa-gift"></i></span>
                       <%= bill_product.collection_select :product_id, @user_products, :id, :product_name, 
{prompt: "Select Product"}, {class: "form-control", :required => true} %>
                     </div> 
                  </div> <!-- /.col -->
 
                  <div class="col-sm-2">           
                    <strong>Quantity&nbsp;<b style="color:red">*</b></strong> 
                    <div id="quantity_div" class="input-group">               
                       <span class="input-group-addon"><i class="fa fa-sort-numeric-asc"></i></span>
                      <%= bill_product.number_field :quantity , class: "form-control", :min => 1, :required => true %>
                    </div>
                  </div> <!-- /.col -->
           
                  <div class="col-sm-2">           
                     <strong>Unit Price&nbsp;<b style="color:red">*</b></strong> 
                     <div id="unit_price_div" class="input-group">               
                       <span class="input-group-addon"><i class="fa fa-money"></i></span>
                       <%= bill_product.text_field :unit_price, class: "form-control", :required => true %>
                     </div>
                  </div> <!-- /.col -->
               
                 
<%
=begin %>
                  <div class="col-sm-2">           
                    <strong>Service Tax %(Optional)&nbsp;</strong> 
                     <div id="unit_price_div" class="input-group"> 
                       <span class="input-group-addon"><i class="fa fa-money"></i></span>
                       <%= bill_product.text_field :service_tax_rate, class: "form-control" %>
                     </div>
                  </div> <!-- /.col -->
                  
                 <div id ='item_tax'>
                   <%= render partial: 'item_tax', locals: {bill_product: bill_product} %>
                 </div>
<%
=end %>
             
                <div class="col-sm-4">           
                  <strong>Item Description (Optional)&nbsp;</strong> 
                   <div id="name" class="input-group">   
                      <span class="input-group-addon"><i class="fa fa-gift"></i></span>
                      <%= bill_product.text_area :item_description, maxlength: 50, class: "form-control" %>
                   </div>
                </div> <!-- /.col -->
                 
                <div class="col-md-1" style="margin-top:30px;">
                  <%= bill_product.link_to_remove do %>
                    <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#myModal2">
                      <span class="fa fa-times"></span>
                    </button>
                  <% end %>
                </div> <!-- /.col -->
                </div><!-- row ends here -->
                        
                <%= bill_product.fields_for :bill_taxes do |taxbill| %>
                  <div class="row">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="col-md-3">
                      <strong>Tax&nbsp;<b style="color:red">*</b></strong> 
                      <div id="quantity_div" class="input-group">               
                        <span class="input-group-addon"><i class="fa fa-money"></i></span>
                        <%= taxbill.collection_select :tax_id , @taxes, :id, :tax_type_of_tax, {prompt: "Select Tax"}, {class: "form-control", :id => 'tax-item'} %>
                      </div>
                    </div> <!-- /.col -->
                    
                    <div class="col-md-3">
                      <strong>Tax Rate&nbsp;<b style="color:red">*</b></strong> 
                      <div id="quantity_div" class="input-group">               
                        <span class="input-group-addon"><i class="fa fa-money"></i></span>
                        <%= taxbill.text_field :tax_rate, class: "form-control" %>
                      </div>
                    </div> <!-- /.col -->
                    
                    <div class="col-md-1" style="margin-top:20px;">
                      <%= taxbill.link_to_remove do %>
                        <button type="button" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#myModal2">
                          <span class="fa fa-times"></span>
                        </button>
                      <% end %>
                    </div> <!-- /.col -->
                  </div><!-- row ends here -->
                <% end %><!-- fields_for bill taxes ends here -->
                <%= bill_product.link_to_add :bill_taxes do %>
                 <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal2">
                   <span class="glyphicon glyphicon-plus-sign"></span>
                   Add Tax
                 </button>
                <% end %>
           <% end %><!-- fields_for line items ends here -->
           <br/>
           <%= f.link_to_add :line_items , title: "Add Products to the Bill" do %>
             <button class="btn btn-success btn-xs" id='item_add'>
               <span class="glyphicon glyphicon-plus-sign"></span>
                Add Items
             </button>
           <% end %>
       </div> <!-- portlet content ends here -->
  </div><!-- portlet ends here -->

<!-- Item Details  ends here -->
  
    <!-- transport details starts -->
  <div class="portlet">

    <div class="portlet-header">
      <h3><i class="fa fa-share"></i> Transporter/Owner  Details</h3>
    </div> <!-- /.portlet-header -->

    <div class="portlet-content">
      <div class="row"> 
  
        <div class="col-sm-3">           
          <strong>Transporter Name</strong> 
          <div id="name" class="input-group">               
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <%= f.text_field :transporter_name, maxlength: 45,  class: "form-control" %>
          </div>
        </div> <!-- /.col -->
            
        <div class="col-sm-3">           
           <strong>Vehicle Number</strong> 
           <div class="has-tooltip" data-toggle="tooltip" data-placement="left" title="Maximum limit is 12 digits">
             <div id="name" class="input-group">               
                <span class="input-group-addon"><i class="fa fa-sort-numeric-asc"></i></span>
                 <%= f.text_field :vechicle_number, :maxlength => 12, class: "form-control" %>
             </div>
           </div>
        </div> <!-- /.col -->
        
        <div class="col-sm-3">           
           <strong>GC/LR Number</strong> 
           <div class="has-tooltip" data-toggle="tooltip" data-placement="left" title="Maximum limit is 12 digits">
              <div id="name" class="input-group">               
                 <span class="input-group-addon"><i class="fa fa-sort-numeric-asc"></i></span>
                 <%= f.text_field :gc_lr_number, :maxlength => 12,  class: "form-control" %>
              </div>
           </div>
        </div> <!-- /.col -->

        <div class="col-sm-3">           
          <strong>LR Date</strong> 
           <div id="name" class="input-group">               
                 <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
              <%= f.text_field :lr_date, class: "form-control", :id => "lr_date" %>
           </div>
        </div> <!-- /.col -->
      </div> <!-- row ends here -->
    </div> <!-- portlet content ends here -->
  </div><!-- portlet ends here -->

<!-- Tranport Details ends Here -->  
  
    <!-- other information starts -->
  <div class="portlet">

      <div class="portlet-header">
        <h3><i class="fa fa-th"></i> Other Information</h3>
      </div> <!-- /.portlet-header -->

      <div class="portlet-content">
        <%= f.fields_for :bill_other_charges do |charges| %>
          <div class="row"> 
            <div class="col-sm-3">           
               <strong>Other Charges</strong> 
               <div id="name" class="input-group">               
                  <span class="input-group-addon"><i class="fa fa-sort-numeric-asc"></i></span>
                 <%= charges.collection_select :other_charges_information_id, @other_charges, :id, :other_charges,  {:prompt => "Select Type"} , {:class => "form-control"} %>
               </div>
            </div> <!-- /.col -->
            
            <div class="col-sm-3">           
               <strong>Other charges Amount</strong> 
               <div id="name" class="input-group">               
                  <span class="input-group-addon"><i class="fa fa-money"></i></span>
                 <%= charges.text_field :other_charges_amount, class: "form-control" %>
               </div>
            </div> <!-- /.col -->
            
             <div class="col-md-1" style="margin-top:20px;">
               <%= charges.link_to_remove do %>
                 <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#myModal2">
                   <span class="fa fa-times"></span>
                 </button>
               <% end %>
             </div> <!-- /.col -->
          </div><!-- row ends here -->
        <% end %>
        <%= f.link_to_add :bill_other_charges do %>
              <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal2">
                 <span class="glyphicon glyphicon-plus-sign"></span>
                  Other Charges
              </button>
        <% end %>
            <br/><br/>
            <div class="row">
              <div class="col-md-3">
                <strong>Discount&nbsp;</strong> 
                <div id="name" class="input-group">  
                <span class="input-group-addon"><i class="fa fa-money"></i></span>
                  <%= f.text_field :discount ,class: "form-control" %>
               </div>
              </div>
              
              <div class="col-sm-7">           
               <strong>Other Information</strong> 
                 <div id="name" class="input-group">               
                   <%= f.text_area :other_information, :cols => 100, class: "form-control" %>
                 </div>
              </div> <!-- /.col -->
              <br/>
            </div> <!-- row ends here -->
      </div> <!-- portlet content ends here -->
  </div><!-- portlet ends here -->
<%
=begin %>
  <!-- other information starts -->
  <div class="portlet">

      <div class="portlet-header">
        <h3><i class="fa fa-th"></i> Other Information and Discounts</h3>
      </div> <!-- /.portlet-header -->

      <div class="portlet-content">
         <div class="row">
            <div class="col-sm-3">           
               <strong>Name Other Charges (if any)</strong> 
               <div id="name" class="input-group">               
                  <span class="input-group-addon"><i class="fa fa-sort-numeric-asc"></i></span>
                  <%= f.collection_select :other_charges_information_id, OtherChargesInformation.all, :id, :other_charges,  {:prompt => "Select Type"} , {:class => "form-control"} %>
               </div>
            </div> <!-- /.col -->
            
            <div class="col-sm-3">           
               <strong>Other charges Amount</strong> 
               <div id="name" class="input-group">               
                  <span class="input-group-addon"><i class="fa fa-money"></i></span>
                 <%= f.number_field :other_charges, :min => 1, class: "form-control" %>
               </div>
            </div> <!-- /.col -->

            <div class="col-sm-3">           
              <strong>Discount <medium>(if any)</medium></strong> 
               <div id="name" class="input-group">               
                  <span class="input-group-addon"><i class="fa fa-money"></i></span>
                 <%= f.number_field :discount, :min => 1, class: "form-control" %>
               </div>
            </div> <!-- /.col -->

           <div class="col-sm-3">           
               <strong>Tax Information&nbsp;<b style="color:red">*</b></strong> 
               <div id="name" class="input-group">  
                <span class="input-group-addon"><i class="fa fa-money"></i></span>
                  <%= f.collection_select :tax_id, Tax.all, :id, :tax ,{prompt: "Select Tax"}, {class: "form-control", :required => true} %>
               </div>
            </div> <!-- /.col -->
            <br/><br/><br/><br/>
  
            <div class="col-sm-9">           
               <strong>Other Information</strong> 
                 <div id="name" class="input-group">               
                   <%= f.text_area :other_information, :cols => 100, class: "form-control" %>
                 </div>
            </div> <!-- /.col -->
         </div> <!-- row ends here -->
      </div> <!-- portlet content ends here -->
  </div><!-- portlet ends here -->
<%
=end %>

      <div class="row">               
        <div class="col-md-2">
          <%= f.submit "Update Bill",  class: "btn btn-success" %>
        </div>
        
        <div class="col-md-2">
            <%= link_to "Cancel", new_bill_path,  class: "btn btn-success" %>
        </div>
    <% end %><!-- nested form ends here -->
   </div><!-- row ends here -->
  </div> <!-- /.content-container -->      
 </div> <!-- /.content -->
</div> <!-- /.container -->
  
  
  