<hr>
<h3> Listing all bills </h3>

<h4> Total Bills Generated : <%= @bills.count %></h4><p>
<% @bills.each do |bill| %>
<ul>
  <li><%= link_to bill.customer.name, bill_path(bill.id) %>| 
    <%=  bill.tax.tax_type %></li>
  Posted <%= time_ago_in_words (bill.created_at) %> ago <br/><p>
</ul>

  <% end %><p><br/>
  <b>Total No of Esugam Generated :</b> <%= @esugam_count %><br/><p>
  <b> No of Cash Based Applications : </b><%= @number_of_cash_applications %>


<br/><p>
<br/><p>
<br/><p>
<br/><p>
<br/><p>