<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

</head>

<body>
  
<div class="container">
<div class="content">
<div class="content-container">      

<div>
<h4 class="heading-inline">Bills</h4>        
</div>

<br>
      

<div class="row"> 
  <%= nested_form_for(@bill) do |f| %>

<% if @bill.errors.any? %>
  <div class="col-md-6">
  <div class="alert alert-danger">
<% @bill.errors.full_messages.each do |error| %>
<ul>
 <li><%= error %></li>
 </ul>
<% end %>
    </div>
  </div>
<% end %>
  
  
<div class="portlet">

<div class="portlet-header">
<h3><i class="fa fa-user"></i> Bill Details</h3>
</div> <!-- /.portlet-header -->

<div class="portlet-content">
  <% if notice %>
  <div class="alert alert-success"><%= notice %></div> 
  <% end %>
 

<div class="row"> 
  
<div class="col-sm-4">           
<strong>Invoice Number</strong> 
<div id="name" class="input-group">    
<%= f.text_field :invoice_number, class: "form-control" %> 
<span class="input-group-addon"><i class="fa fa-sort-numeric-asc"></i></span>
</div>
</div> <!-- /.col -->
            
<div class="col-sm-4">           
<strong>Bill Date</strong> 
<div id="name" class="input-group">               
<%= f.date_field :bill_date , :value => Date.today, class: "form-control" %>
<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
</div>
</div> <!-- /.col -->
           
<div class="col-sm-4">           
<strong>Customer</strong> 
<div id="name" class="input-group">               
<%= f.collection_select :customer_id, Customer.where(:authuser_id => current_authuser.id), :id, :name, {prompt: "Select Customer"}, {class: "form-control"}  %>
</div>
</div> <!-- /.col -->
            
</div> <!-- row ends here -->
</div> <!-- portlet content ends here -->
</div><!-- portlet ends here -->

  <!-- bill detail ends here -->
  
<div class="portlet">

<div class="portlet-header">
  <h3><i class="fa fa-user"></i> Item Details</h3>
</div> <!-- /.portlet-header -->

<div class="portlet-content" id="line_items_list">

<%= f.fields_for :line_items do |bill_product| %>
  
  <div class="row"> 
    <div class="col-sm-2">           
      <strong>Item</strong> 
      <div id="name" class="input-group">    
      <%= bill_product.collection_select :product_id, 
          Product.where(:authuser_id => current_authuser.id), :id, :product_name, 
          {prompt: "Select Product"}, {class: "form-control"} %>
      </div> 
    </div> <!-- /.col -->
 
    
  
    
    <div class="col-sm-3">           
      <strong>Quantity</strong> 
      <div id="quantity_div" class="input-group">               
        <%= bill_product.text_field :quantity , class: "form-control" %>
        <span class="input-group-addon"><i class="fa fa-sort-numeric-asc"></i></span>
      </div>
    </div> <!-- /.col -->
           
    <div class="col-sm-3">           
      <strong>Unit Price</strong> 
      <div id="unit_price_div" class="input-group">               
        <%= bill_product.text_field :unit_price, class: "form-control" %>
        <span class="input-group-addon"><i class="fa fa-money"></i></span>
      </div>
    </div> <!-- /.col -->
    
        
  
 
    <div class="col-sm-4">      
      <div class="marggap">
        <div class="btn btn-xs btn-primary" >
          <%= bill_product.link_to_remove do %>
            <i class="fa fa-times"></i>
          <% end %>
        </div>
      </div>
    </div>
    
  </div><!-- row ends here --><br/>
  
<% end %>
  


  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= f.link_to_add "Add Items", :line_items, class: "btn btn-success" %><br/><p>
<!-- </div> -->

</div> <!-- portlet content ends here -->
</div><!-- portlet ends here -->

<!-- Product ends here -->
  
<div class="portlet">

<div class="portlet-header">
<h3><i class="fa fa-user"></i> Other Information</h3>
</div> <!-- /.portlet-header -->

<div class="portlet-content">

<div class="row"> 
  
<div class="col-sm-4">           
<strong>Name Other Charges, if any?</strong> 
<div id="name" class="input-group">               
<%= f.text_field :other_charges_info, class: "form-control" %>
<span class="input-group-addon"><i class="fa fa-sort-numeric-asc"></i></span>
</div>
</div> <!-- /.col -->
            
<div class="col-sm-4">           
<strong>Other charges Rate</strong> 
<div id="name" class="input-group">               
<%= f.text_field :other_charges, class: "form-control" %>
<span class="input-group-addon"><i class="fa fa-money"></i></span>
</div>
</div> <!-- /.col -->
        
<div class="col-sm-4">           
<strong>Tax Information</strong> 
<div id="name" class="input-group">               
  <%= f.collection_select :tax_id, Tax.all, :id, :tax ,{prompt: "Select Tax"}, {class: "form-control"} %>
</div>
</div> <!-- /.col -->
<br/><br/><br/><br/>
  
<div class="col-sm-6">           
  <strong>Other Information(To be printed on the bill)</strong> 
<div id="name" class="input-group">               
  <%= f.text_area :other_information, class: "form-control" %>
</div>
</div> <!-- /.col -->
            
</div> <!-- row ends here -->
</div> <!-- portlet content ends here -->
</div><!-- portlet ends here -->



<div class="row">               
<div class="col-md-2">
  <%= f.submit "Create Bill",  class: "btn btn-success" %>
</div>
<div class="col-md-2">
  <%= link_to "Cancel", new_bill_path,  class: "btn btn-success" %>
</div>
  <% end %>
</div>
</div>
  

  

</div> <!-- /.content-container -->      
</div> <!-- /.content -->
</div> <!-- /.container -->

</body>
</html>


