
<div class="container">
 <div class="content">
   <div class="content-container" id="bill_body">      

    <div>
       <h4 class="heading-inline">Bills</h4>        
    </div><br>
      
    <script type="text/javascript">
       $(document).ready(function(){
         $("#bill_date").datepicker({ dateFormat: "dd/mm/yy" }).val();
         $("#lr_date").datepicker({ dateFormat: "dd/mm/yy" }).val();
    
         // for automatic invoice number, paste the @number & make the field readonly!
          function populateInvoiceNumber(){
            $('#invoice_field').val("<%= @number %>");
            $('#check').val("automatic");
            $('#invoice_field').attr("readonly", true);                      
          }
    
         // for manual entry, make the field value blank & enable the field for manual entry.
          function prepareInvoiceFieldForManualEntry(){
             $('#invoice_field').val("");
             $('#check').val("manual");
             $('#invoice_field').attr("readonly", false);                      
          }
    
         // if the user has selected for the automatic type of invoice.
           <% if @user.invoice_format == 'automatic' %>
             populateInvoiceNumber();  
           <% end %>
    
            $('#bill_type').click(function() {
              var bill_type_checked = $('#bill_type').prop('checked');
              if(bill_type_checked){ 
                populateInvoiceNumber(); 
              }
              else{
                prepareInvoiceFieldForManualEntry();     
              }
        });
      });  
    </script>

   <div class="row"> 
      
     <%= form_for(@user, :url => {:controller => "authusers", :action => "invoice_format_update"},  
      remote: true, :authenticity_token => true) do |f| %>
      <% if @user.invoice_format == 'automatic' %>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <%= f.check_box :invoice_format, { class:  "submittable", id: 'bill_type' }, 
          "automatic", "manual" %>&nbsp;&nbsp;&nbsp;<label>Automated Invoice Number</label>      
      <% end %>
     <% end %>
    </div>


  <br/>
  <div class="row">
    <%= nested_form_for(@bill)  do |f| %>
       <% if @bill.errors.any? %>
        <div class="col-md-6">
         <div class="alert alert-danger">
           <% @bill.errors.full_messages.each do |error| %>
             <ul>
               <li><%= error %></li>
             </ul>
           <% end %>
         </div>
        </div>
       <% end %>
    
       <div class="portlet">
           <div class="portlet-header">
              <h3><i class="fa fa-tags"></i> Bill Details</h3>
           </div> <!-- /.portlet-header -->

          
           <div class="portlet-content">
               <% if notice %>
                 <div class="alert alert-success"><%= notice %></div> 
               <% end %>
               <div class="row">
  
                &nbsp;&nbsp;<b style="color:red">*</b> <b>Indicates the mandatory fields</b><br/>
                <br/>               
                   <div class="col-sm-3">           
                     <strong>Invoice Number &nbsp;<b style="color:red">*</b></strong> 
                     <div id="name" class="input-group">    
                        <span class="input-group-addon"><i class="fa fa-sort-numeric-asc"></i></span>
                       <%= f.text_field :invoice_number, class: "form-control", :maxlength => 15, id: 'invoice_field', :required => true %> 
                       <%= f.hidden_field :invoice_format, :id => "check" %>
                      
                     </div>
                   </div> <!-- /.col -->
  
                   <div class="col-sm-3">           
                     <strong>Bill Date&nbsp;<b style="color:red">*</b></strong> 
                       <div id="name" class="input-group">               
                          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                          <%= f.text_field :bill_date , :value => Date.today, class: "form-control", :id => "bill_date", :required => true %>
                       </div>
                   </div> <!-- /.col -->
                   
                   <%= f.hidden_field :pdf_format, :value => "Format1" %>
                   
                    <div class="col-sm-3">           
                       <strong>Customer&nbsp;<b style="color:red">*</b></strong> 
                        <div id="name" class="input-group">        
                          <span class="input-group-addon"><i class="fa fa-user"></i></span>
                          <%= f.collection_select :customer_id, @user_customers, :id, :name, {prompt: "Select Customer"}, {class: "form-control", :id => "drop-down", :required => true} %>
                        </div>
                    </div> <!-- /.col -->
                    
                    
                        <!-- modal to create new customer -->
                         <br/>
                         <!-- Button trigger modal -->
                        <button type="button" class="btn btn-success" title="Add New Customer" data-toggle="modal" data-target="#myModal">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                        &nbsp;Customer
                        </button>
  
                         <%= content_for :customer do %>
                            <!-- Modal -->
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                 <div class="modal-content">
                                    <div class="modal-header">
                                       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                           <h4 class="modal-title" id="myModalLabel">Add Customer</h4>
                                    </div>
      
                                    <div class="modal-body">
                                       <%= form_for(@customer, :url => '/customers/newcustomer_in_bill') do |f| %>
                                         <% if @customer.errors.any? %>
                                            <div class="col-md-8">
                                              <div class= "alert alert-danger">
                                                 <% @customer.errors.full_messages.each do|error|  %>
                                                    <ul>
                                                      <li><%= error %></li>
                                                    </ul>
                                                 <% end %>
                                              </div>
                                            </div>
                                         <% end %>
                                         <div class="row">    
                                            &nbsp;&nbsp;<b style="color:red">*</b> &nbsp;<b>Indicates the mandatory fields</b><br/><br/>
                                            &nbsp;&nbsp;<b>To Add Unregistered customers, Customer name should be </b> <b style="color:red";>Others</b><br/><br/>
                                             <div class="col-sm-6 marggap">   
                                               Name&nbsp;&nbsp;<b style="color:red">*</b>
                                                <div id="name" class="input-group">               
                                                  <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                                    <%= f.text_field :name, maxlength: 40,  class: "form-control" %>
                                                </div>
                                             </div> <!-- /.col -->
                                           
                                             <div class="col-sm-6 marggap">  
                                               Email&nbsp;&nbsp;<b style="color:red">*</b>
                                               <div id="email" class="input-group">          
                                                 <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                                  <%= f.text_field :email, class: "form-control" %>
                                               </div>
                                             </div> <!-- /.col -->
                                         </div> <!-- row ends here -->
 
                                         <div class="row">    
                                             
                                             <div class="col-sm-6 marggap">  
                                               Tin Number&nbsp;&nbsp;<b style="color:red">*</b>
                                                 <div class="has-tooltip" data-toggle="tooltip" data-placement="left" title="Should Be 11 Digits">
                                                    <div id="number" class="input-group">               
                                                       <span class="input-group-addon"><i class="fa fa-sort-numeric-asc"></i></span>
                                                      <%= f.text_field :tin_number, maxlength: 11, class: "form-control" %>
                                                    </div>
                                                 </div> 
                                             </div><!-- /.col -->
                               
                                              <div class="col-sm-6 marggap">  
                                                 Mobile Number
                                                 <div class="has-tooltip" data-toggle="tooltip" data-placement="left" title="Should Be 10 Digits">
                                                   <div id="phone" class="input-group">               
                                                      <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
                                                     <%= f.text_field :phone_number , maxlength: 10, class: "form-control" %>
                                                   </div>
                                                </div>
                                              </div> <!-- /.col -->
                                         </div>  <!-- row ends here -->
  
                                         <div class="row">
                                            <div class="col-sm-6 marggap">  
                                               Address
                                               <div id="City" class="input-group">               
                                                  <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>                                                                          <%= f.text_field :address, maxlength: 60, class: "form-control" %>
                                                </div>
                                            </div> <!-- /.col -->
            
                                            <div class="col-sm-6 marggap">  
                                              City<b style="color:red">*</b>
                                               <div id="City" class="input-group">               
                                                  <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                                                   <%= f.text_field :city ,maxlength: 15,  class: "form-control" %>
                                               </div>
                                            </div> <!-- /.col -->
                                         </div><!-- row ends here -->
  
                                         <div class="row">
                                           <div class="col-sm-6 marggap">  
                                               State
                                               <div id="City" class="input-group">               
                                                 <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                                                  <%= f.text_field :state , maxlength: 15, class: "form-control" %>
                                               </div>
                                           </div> <!-- /.col -->
                                           
                                           <div class="col-sm-6 marggap">  
                                             Pin Code
                                              <div id="City" class="input-group">               
                                                <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                                                <%= f.text_field :pin_code , :maxlength => 8,  class: "form-control" %>
                                              </div>
                                           </div> <!-- /.col -->
                                         </div><!-- row ends here -->
  
                                         <div class="row portlet-content">       
                                            <%= f.submit "Create Customer", class: "btn btn-success" %>
                                          </div>
                                       <% end %>
                                    </div>
                                 </div><!-- modal-content ends here -->
                                </div><!-- modal-dialog ends here -->
                            </div><!-- modal fade ends here -->
                         <% end %><!-- content for ends here -->
                    
                  </div> <!-- row for 1st column ends here -->
                  <br/>
  
                  <!-- to add unregistered customers when creating bills -->
                  <div  style="display: none;" id="text-box"> 
                     <%= f.fields_for :unregistered_customers do |customer| %>  
                        <div class="row"> 
                            <%= customer.hidden_field :authuser_id, :value => current_authuser.id %>
     
                            <div class="col-sm-3 marggap">   
                               Customer Name&nbsp;&nbsp;<b style="color:red">*</b>
                                <div id="name" class="input-group">               
                                   <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                   <%= customer.text_field :customer_name, maxlength: 40,  class: "form-control" %>
                                </div>
                            </div> <!-- /.col -->
                          
                             <div class="col-sm-3 marggap">  
                              Mobile Number &nbsp;&nbsp;
                               <div id="email" class="input-group">          
                                  <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
                                 <%= customer.number_field :phone_number, :maxlength => 10, class: "form-control" %>
                               </div>
                            </div> <!-- /.col -->
                    
                            <div class="col-sm-3 marggap">  
                               Address &nbsp;&nbsp;<b style="color:red">*</b>
                               <div id="name" class="input-group">               
                                 <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                                 <%= customer.text_field :address,  maxlength: 60, class: "form-control" %>
                               </div> 
                            </div><!-- /.col -->
       
                            <div class="col-sm-3 marggap">  
                               City<b style="color:red">*</b>
                               <div id="name" class="input-group">               
                                  <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                                  <%= customer.text_field :city , maxlength: 15, class: "form-control" %>
                               </div>
                            </div> <!-- /.col -->
                        </div><!-- row ends here -->
 
                        <div class="row"> 
                            <div class="col-sm-3 marggap">  
                               State<b style="color:red">*</b>
                                 <div id="name" class="input-group">  
                                   <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                                     <%= customer.collection_select :state, TinNumber.all, :state, :state, {:prompt => "Select State"}, {class: "form-control", :id => "state_list" , remote: true}  %>
                                 </div>
                            </div> <!-- /.col -->
                          
                             
                        </div><!-- row ends here -->
                     <% end %><!-- fields_for unregistered customers ends here -->
                  </div><!-- id=text box ends here-->
 
           </div> <!-- portlet content ends here -->
       </div><!-- portlet ends here -->
   <!-- bill detail ends here -->
   <!-- Item details starts -->
       <div class="portlet">
         
           <div class="portlet-header">
             <h3><i class="fa fa-gift"></i>Item Details
          
              <!-- dont allow secondary user to create new product -->
              
                   <!-- Button trigger modal for adding products-->
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-success"  title="Add New Product" data-toggle="modal" data-target="#myModal1">
                <span class="glyphicon glyphicon-plus-sign"></span>
                &nbsp;Product
               </button></h3>
             

                   <%= content_for :product do %>
                     <!-- Modal -->
                       <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                         <div class="modal-dialog">
                           <div class="modal-content">
                              <div class="modal-header">
                                 <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                     <h4 class="modal-title" id="myModalLabel">Add Product</h4>
                              </div><!-- modal header ends here -->
                              <div class="modal-body">
                               <%= form_for(@product, :url => '/products/newproduct_in_bill') do |f| %>
                                      <% if @product.errors.any? %>
                                          <div class="col-md-6">
                                             <div class= "alert alert-danger">
                                                 <% @product.errors.full_messages.each do |error| %>
                                                  <ul>
                                                     <li><%= error %></li>
                                                  </ul>
                                                 <% end %>
                                             </div>
                                          </div>
                                      <% end %>

                                      <b style="color:red">*</b>&nbsp;<b> Indicates the mandatory fields</b><br/><br/>
                                       <div class="row">
                                          <label class="col-md-3">Belongs to Commodity&nbsp;&nbsp;<b style="color:red">*</b></label>
                                           <div class="col-md-6">
                                              <div id="name" class="input-group">  
                                                 <span class="input-group-addon"><i class="fa fa-shopping-cart"></i></span>  
                                                <!-- show all categories of primary user and secondary user -->
                                                 <% if current_authuser.main_roles.first.role_name == "secondary_user" %>
                                                   <% primary_user_id = current_authuser.invited_by_id %>
                                                   <% @user_category = Usercategory.where('authuser_id =? OR primary_user_id =? ', primary_user_id, primary_user_id) %>
                                                <%= f.collection_select :usercategory_id, @user_category, :id, :commodity_name, {prompt: "Select Commodity"}, {class: "form-control"} %>
                                                 <% else %>
                                                   <% @user_category = Usercategory.where('authuser_id = ? OR primary_user_id = ?', current_authuser.id, current_authuser.id) %>
                                                   <%= f.collection_select :usercategory_id, @user_category, :id, :commodity_name, {prompt: "Select Commodity"}, {class: "form-control"} %>
                                                 <% end %>
                                              </div>
                                           </div>
                                       </div>
                                       <br/>
                                       
                                <div class="row">  
                                   <label class="col-md-3">Product Name&nbsp;&nbsp;<b style="color:red">*</b></label>
                                     <div class="col-md-6">
                                       <div id="name" class="input-group">               
                                          <span class="input-group-addon"><i class="fa fa-gift"></i></span>
                                           <%= f.text_field :product_name ,maxlength: 25,  class: "form-control" %>
                                       </div>
                                     </div>
                                </div>
                                <br>
  
                                <div class="row">
                                   <label class="col-md-3">Unit&nbsp;&nbsp;<b style="color:red">*</b></label>
                                   <div class="col-md-6">
                                     <div class="has-tooltip" data-toggle="tooltip" data-placement="left" title="Enter units like packets, pieces etc">
                                      <div id="name" class="input-group">               
                                         <span class="input-group-addon"><i class="fa fa-text-width"></i></span>
                                          <%= f.text_field :units, class: "form-control" %>
                                      </div>
                                     </div>
                                   </div>
                                </div>
                                <br>

                                <div class="row">
                                  <div class="col-md-3"></div>
                                  <div class="col-md-6">
                                     <%= f.submit "Create Product", class: "btn btn-success" %>
                                  </div>
                                </div>
                               <% end %><!-- form_for ends here -->
                              </div><!-- modal body ends here -->
                         </div><!-- modal content ends here -->
                        </div><!-- modal dialog ends here -->
                       </div><!-- modal fade ends here -->
                   <% end %><!-- content_for ends here -->
              
           </div> <!-- /.portlet-header -->

         <div class="portlet-content" id="line_items_list">
           <%= f.fields_for :line_items do |bill_product| %>
               <div class="row"> 
    
                  <div class="col-sm-3">           
                     <strong>Item&nbsp;<b style="color:red">*</b></strong> 
                     <div id="name" class="input-group">   
                       <span class="input-group-addon"><i class="fa fa-gift"></i></span>
                       <%= bill_product.collection_select :product_id, @user_products, :id, :product_name, 
{prompt: "Select Product"}, {class: "form-control", :required => true} %>
                     </div> 
                  </div> <!-- /.col -->
 
                  <div class="col-sm-3">           
                    <strong>Quantity&nbsp;<b style="color:red">*</b></strong> 
                    <div id="quantity_div" class="input-group">               
                       <span class="input-group-addon"><i class="fa fa-sort-numeric-asc"></i></span>
                      <%= bill_product.number_field :quantity , class: "form-control", :min => 1, :required => true %>
                    </div>
                  </div> <!-- /.col -->
           
                  <div class="col-sm-3">           
                     <strong>Unit Price&nbsp;<b style="color:red">*</b></strong> 
                     <div id="unit_price_div" class="input-group">               
                       <span class="input-group-addon"><i class="fa fa-money"></i></span>
                       <%= bill_product.text_field :unit_price, class: "form-control", :required => true %>
                     </div>
                  </div> <!-- /.col -->
               
                  <div class="col-sm-2">           
                    <strong>Service Tax %(Optional)&nbsp;</strong> 
                     <div id="unit_price_div" class="input-group"> 
                       <span class="input-group-addon"><i class="fa fa-money"></i></span>
                       <%= bill_product.text_field :service_tax_rate, class: "form-control" %>
                     </div>
                  </div> <!-- /.col -->

                  <div class="col-sm-1">      
                    <div class="marggap">
                      <!-- <div class="btn btn-xs btn-primary" >-->
                      <div class="remove-button">
                        <%= bill_product.link_to_remove do %>
                        <%= image_tag("remove_icon.png", size: "37", :title => "Remove Item") %>
                        <% end %>         
                      </div>
                    </div>
                  </div>
    
               </div><!-- row ends here --><br/>
            <% end %><!-- nested_form ends here -->
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <%= f.link_to_add :line_items do %>
             <button class="btn btn-success">
               <span class="glyphicon glyphicon-plus-sign"></span>
                Add Items
             </button>
           <% end %>
       </div> <!-- portlet content ends here -->
  </div><!-- portlet ends here -->

<!-- Item Details  ends here -->
  
    <!-- transport details starts -->
  <div class="portlet">

    <div class="portlet-header">
      <h3><i class="fa fa-share"></i> Transporter /Owner  Details</h3>
    </div> <!-- /.portlet-header -->

    <div class="portlet-content">
      <div class="row"> 
  
        <div class="col-sm-3">           
          <strong>Transporter Name</strong> 
          <div id="name" class="input-group">               
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <%= f.text_field :transporter_name, maxlength: 45,  class: "form-control" %>
          </div>
        </div> <!-- /.col -->
            
        <div class="col-sm-3">           
           <strong>Vehicle Number</strong> 
           <div class="has-tooltip" data-toggle="tooltip" data-placement="left" title="Maximum limit is 12 digits">
             <div id="name" class="input-group">               
                <span class="input-group-addon"><i class="fa fa-sort-numeric-asc"></i></span>
                 <%= f.text_field :vechicle_number, :maxlength => 12, class: "form-control" %>
             </div>
           </div>
        </div> <!-- /.col -->
        
        <div class="col-sm-3">           
           <strong>GC/LR Number</strong> 
           <div class="has-tooltip" data-toggle="tooltip" data-placement="left" title="Maximum limit is 12 digits">
              <div id="name" class="input-group">               
                 <span class="input-group-addon"><i class="fa fa-sort-numeric-asc"></i></span>
                 <%= f.text_field :gc_lr_number, :maxlength => 12,  class: "form-control" %>
              </div>
           </div>
        </div> <!-- /.col -->

        <div class="col-sm-3">           
          <strong>LR Date</strong> 
           <div id="name" class="input-group">               
                 <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
              <%= f.text_field :lr_date, class: "form-control", :id => "lr_date" %>
           </div>
        </div> <!-- /.col -->
      </div> <!-- row ends here -->
    </div> <!-- portlet content ends here -->
  </div><!-- portlet ends here -->

<!-- Tranport Details ends Here -->  
  
  <!-- other information starts -->
  <div class="portlet">

      <div class="portlet-header">
        <h3><i class="fa fa-th"></i> Other Information</h3>
      </div> <!-- /.portlet-header -->

      <div class="portlet-content">
         <div class="row"> 

            <div class="col-sm-3">           
               <strong>Name Other Charges, if any?</strong> 
               <div id="name" class="input-group">               
                  <span class="input-group-addon"><i class="fa fa-sort-numeric-asc"></i></span>
                  <%= f.collection_select :other_charges_information_id, OtherChargesInformation.all, :id, :other_charges,  {:prompt => "Select Type"} , {:class => "form-control"} %>
               </div>
            </div> <!-- /.col -->
            
            <div class="col-sm-3">           
               <strong>Other charges Amount</strong> 
               <div id="name" class="input-group">               
                  <span class="input-group-addon"><i class="fa fa-money"></i></span>
                 <%= f.number_field :other_charges, :min => 1, class: "form-control" %>
               </div>
            </div> <!-- /.col -->
        
            <div class="col-sm-3">           
               <strong>Tax Information&nbsp;<b style="color:red">*</b></strong> 
               <div id="name" class="input-group">  
                <span class="input-group-addon"><i class="fa fa-money"></i></span>
                  <%= f.collection_select :tax_id, Tax.all, :id, :tax ,{prompt: "Select Tax"}, {class: "form-control", :required => true} %>
               </div>
            </div> <!-- /.col -->
 
            <br/><br/><br/><br/>
  
            <div class="col-sm-9">           
               <strong>Other Information</strong> 
                 <div id="name" class="input-group">               
                   <%= f.text_area :other_information, :cols => 100, class: "form-control" %>
                 </div>
            </div> <!-- /.col -->
         </div> <!-- row ends here -->
      </div> <!-- portlet content ends here -->
  </div><!-- portlet ends here -->

      <div class="row">               
        <div class="col-md-2">
          <%= f.submit "Create Bill",  class: "btn btn-success" %>
        </div>
        
        <div class="col-md-2">
            <%= link_to "Cancel", new_bill_path,  class: "btn btn-success" %>
        </div>
    <% end %><!-- nested form ends here -->
   </div><!-- row ends here -->
  </div> <!-- /.content-container -->      
 </div> <!-- /.content -->
</div> <!-- /.container -->
  
  
  