
  
<div class="container">
<div class="content">
<div class="content-container">      

<div>
<h4 class="heading-inline">Bills</h4>        
</div>

<br>
      
  <script type="text/javascript">
  $(document).ready(function(){
     $("#bill_date").datepicker({ dateFormat: "dd/mm/yy" }).val()
     $("#lr_date").datepicker({ dateFormat: "dd/mm/yy" }).val()
    });
</script>
  
<div class="row"> 
  <%= nested_form_for(@bill) do |f| %>

<% if @bill.errors.any? %>
  <div class="col-md-6">
  <div class="alert alert-danger">
<% @bill.errors.full_messages.each do |error| %>
<ul>
 <li><%= error %></li>
 </ul>
<% end %>
    </div>
  </div>
<% end %>
  
  
   
<div class="portlet">

<div class="portlet-header">
<h3><i class="fa fa-tags"></i> Bill Details</h3>
</div> <!-- /.portlet-header -->

<div class="portlet-content">
  <% if notice %>
  <div class="alert alert-success"><%= notice %></div> 
  <% end %>
 

<div class="row"> 
  <b style="color:red">*</b> <b>Indicates the mandatory fields</b><br/><br/>
  
<div class="col-sm-3">           
<strong>Invoice Number &nbsp;<b style="color:red">*</b></strong> 
<div id="name" class="input-group">    
<span class="input-group-addon"><i class="fa fa-sort-numeric-asc"></i></span>
  <%= f.text_field :invoice_number, maxlength: 15, class: "form-control" %> 
</div>
</div> <!-- /.col -->
            
<div class="col-sm-3">           
<strong>Bill Date&nbsp;<b style="color:red">*</b></strong> 
<div id="name" class="input-group">               
<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
  <%= f.text_field :bill_date , :value => Date.today, class: "form-control", :id => "bill_date" %>
</div>
</div> <!-- /.col -->
  <%= f.hidden_field :pdf_format, :value => "Format1" %>
<div class="col-sm-3">           
<strong>Customer&nbsp;<b style="color:red">*</b></strong> 
<div id="name" class="input-group">               
  <%= f.collection_select :customer_id, Customer.where(:authuser_id => [current_authuser.id,current_authuser.invited_by_id]), :id, :name, {prompt: "Select Customer"}, {class: "form-control", :id => "drop-down"}  %>
</div>
</div> <!-- /.col -->
  <!-- not allow secondary users to create new customer -->
  <% role_name = current_authuser.main_roles.pluck(:role_name) %>
  <% if !role_name.include? "secondary_user" %>
  <!-- modal to create new customer -->
 <br/>
    <!-- Button trigger modal -->
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
  New Customer
</button>
  
  <%= content_for :customer do %>
    
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Customer</h4>
      </div>
      <div class="modal-body">
        <%= form_for(@customer, :url => '/customers/newcustomer_in_bill') do |f| %>
<% if @customer.errors.any? %>
  <div class="col-md-8">
  <div class= "alert alert-danger">
<% @customer.errors.full_messages.each do|error|  %>
<ul>
  <li><%= error %></li>
</ul>
<% end %>
  </div>
  </div>
<% end %>
<div class="row">    
  &nbsp;&nbsp;<b style="color:red">*</b> &nbsp;<b>Indicates the mandatory fields</b><br/><br/>
<div class="col-sm-6 marggap">   
Name&nbsp;&nbsp;<b style="color:red">*</b>
<div id="name" class="input-group">               
<span class="input-group-addon"><i class="fa fa-user"></i></span>
  <%= f.text_field :name, maxlength: 40,  class: "form-control" %>
</div>
</div> <!-- /.col -->

<div class="col-sm-6 marggap">  
Email&nbsp;&nbsp;<b style="color:red">*</b>
<div id="email" class="input-group">          
<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
<%= f.text_field :email, class: "form-control" %>
</div>
</div> <!-- /.col -->
 </div>
 
<div class="row">    
<div class="col-sm-6 marggap">  
Tin Number&nbsp;&nbsp;<b style="color:red">*</b>
<div class="has-tooltip" data-toggle="tooltip" data-placement="left" title="Should Be 11 numbers">
<div id="number" class="input-group">               
<span class="input-group-addon"><i class="fa fa-sort-numeric-asc"></i></span>
  <%= f.text_field :tin_number, maxlength: 11, class: "form-control" %>
</div>
</div> <!-- /.col -->
  </div>
<div class="col-sm-6 marggap">  
Phone Number
<div id="phone" class="input-group">               
<span class="input-group-addon"><i class="fa fa-phone"></i></span>
  <%= f.text_field :phone_number , maxlength: 10, class: "form-control" %>
</div>
</div> <!-- /.col -->
 </div>  
  
 <div class="row">
<div class="col-sm-6 marggap">  
Address
<div id="Password" class="form-group">               
  <%= f.text_field :address, maxlength: 60, class: "form-control" %>
</div>
</div> <!-- /.col -->
            
  
<div class="col-sm-6 marggap">  
City<b style="color:red">*</b>
<div id="City" class="input-group">               
<span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
<%= f.text_field :city ,maxlength: 15,  class: "form-control" %>
</div>
</div> <!-- /.col -->
</div><!-- row ends here -->
  
<div class="row">
  <div class="col-sm-6 marggap">  
State
<div id="City" class="input-group">               
<span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
<%= f.text_field :state , maxlength: 15, class: "form-control" %>
</div>
</div> <!-- /.col -->
  </div>
  
<div class="row portlet-content">       
<%= f.submit "Create Customer", class: "btn btn-success" %>
</div>
<% end %>
      </div>
    </div>
  </div>
</div>
  
  <% end %>
  <% end %><!-- if condition for new customer by secondary user ends here -->
</div> <!-- row ends here -->
<br/><br/>
  
 <!-- to add unregistered customers when creating bills -->
 <div  style="display: none;" id="text-box"> 
 <%= f.fields_for :unregistered_customers do |customer| %>  
  <div class="row"> 
    <%= customer.hidden_field :authuser_id, :value => current_authuser.id %>
     
   <div class="col-sm-3 marggap">   
    Customer Name&nbsp;&nbsp;<b style="color:red">*</b>
      <div id="name" class="input-group">               
       <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <%= customer.text_field :customer_name, maxlength: 40,  class: "form-control" %>
      </div>
   </div> <!-- /.col -->

   <div class="col-sm-3 marggap">  
    Mobile Number &nbsp;&nbsp;
      <div id="email" class="input-group">          
        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
        <%= customer.text_field :phone_number, :maxlength => 10, class: "form-control" %>
      </div>
   </div> <!-- /.col -->
  
   <div class="col-sm-3 marggap">  
    Address &nbsp;&nbsp;<b style="color:red">*</b>
    <div id="name" class="input-group">               
      <span class="input-group-addon"><i class="fa fa-sort-numeric-asc"></i></span>
      <%= customer.text_field :address,  maxlength: 60, class: "form-control" %>
    </div> 
   </div><!-- /.col -->
       
   <div class="col-sm-3 marggap">  
    City<b style="color:red">*</b>
    <div id="name" class="input-group">               
      <span class="input-group-addon"><i class="fa fa-phone"></i></span>
      <%= customer.text_field :city , maxlength: 15, class: "form-control" %>
    </div>
   </div> <!-- /.col -->
 
 </div><!-- row ends here -->
 
 <div class="row"> 
   
   <div class="col-sm-3 marggap">  
    State<b style="color:red">*</b>
    <div id="name" class="input-group">               
      <%= customer.collection_select :state, TinNumber.all, :state, :state, {:prompt => "Select State"}, {class: "form-control"} %>
    </div>
   </div> <!-- /.col -->
 
  </div><!-- row ends here -->
    
 <% end %><!-- fields_for unregistered customers ends here -->
 </div><!-- id=text box ends here-->
 </div> <!-- portlet content ends here -->
</div><!-- portlet ends here -->

  
  <!-- bill detail ends here -->
  
<div class="portlet">
<br/>
<div class="portlet-header">
  <h3><i class="fa fa-ruble"></i> Item Details</h3>
  <!-- dont allow secondary user to create new product -->
  <% if !role_name.include? "secondary_user" %>
  <!-- Button trigger modal for adding products-->
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal1">
  New Product
</button>

    <%= content_for :product do %>
<!-- Modal -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Product</h4>
      </div>
      <div class="modal-body">
 <%= form_for(@product, :url => '/products/newproduct_in_bill') do |f| %>
<% if @product.errors.any? %>
  <div class="col-md-6">
  <div class= "alert alert-danger">
<% @product.errors.full_messages.each do |error| %>
<ul>
    <li><%= error %></li>
</ul>
<% end %>
  </div>
  </div>
<% end %>

 
        <b style="color:red">*</b>&nbsp;<b> Indicates the mandatory fields</b><br/><br/>
  
<div class="row">
<label class="col-md-3">Belongs to Commodity&nbsp;&nbsp;<b style="color:red">*</b></label>
<div class="col-md-6">
<div id="name" class="input-group">               
<%= f.collection_select :usercategory_id, Usercategory.where(:authuser_id => current_authuser.id), :id, :commodity_name, {prompt: "Select Commodity"}, {class: "form-control"} %>
</div>
</div>
</div>
  <br/>
  
<div class="row">  
<label class="col-md-3">Product Name&nbsp;&nbsp;<b style="color:red">*</b></label>
<div class="col-md-6">
<div id="name" class="input-group">               
<span class="input-group-addon"><i class="fa fa-user"></i></span>
<%= f.text_field :product_name ,maxlength: 25,  class: "form-control" %>
</div>
</div>
</div>
<br>
  
<div class="row">
<label class="col-md-3">Unit&nbsp;&nbsp;<b style="color:red">*</b></label>
<div class="col-md-6">
<div id="name" class="input-group">               
<span class="input-group-addon"><i class="fa fa-sort-numeric-asc"></i></span>
<%= f.text_field :units, class: "form-control" %>
</div>
</div>
</div>
<br>

  
<div class="row">
<div class="col-md-3"></div>
<div class="col-md-6">
<%= f.submit "Create Product", class: "btn btn-success" %>
</div>
</div>
  

<% end %><!-- form_for ends here -->
    
      </div>
     </div>
  </div>
</div>
    
    <% end %><!-- content_for ends here -->
  <% end %><!-- secondary user if condition for new product ends -->  
</div> <!-- /.portlet-header -->

<div class="portlet-content" id="line_items_list">

<%= f.fields_for :line_items do |bill_product| %>
  
  <div class="row"> 
    <div class="col-sm-2">           
      <strong>Item&nbsp;<b style="color:red">*</b></strong> 
      <div id="name" class="input-group">    
      <%= bill_product.collection_select :product_id, 
Product.where(:authuser_id => [current_authuser.id, current_authuser.invited_by_id]), :id, :product_name, 
          {prompt: "Select Product"}, {class: "form-control"} %>
      </div> 
    </div> <!-- /.col -->
 
    
  
    
    <div class="col-sm-3">           
      <strong>Quantity&nbsp;<b style="color:red">*</b></strong> 
      <div id="quantity_div" class="input-group">               
        <span class="input-group-addon"><i class="fa fa-sort-numeric-asc"></i></span>
        <%= bill_product.text_field :quantity , class: "form-control" %>
        </div>
    </div> <!-- /.col -->
           
    <div class="col-sm-3">           
      <strong>Unit Price&nbsp;<b style="color:red">*</b></strong> 
      <div id="unit_price_div" class="input-group">               
        <span class="input-group-addon"><i class="fa fa-money"></i></span>
        <%= bill_product.text_field :unit_price, class: "form-control" %>
              </div>
    </div> <!-- /.col -->
               
    <div class="col-sm-3">           
      <strong>Service Tax(Optional)&nbsp;</strong> 
      <div id="unit_price_div" class="input-group">               
        <%= bill_product.text_field :service_tax_rate, class: "form-control" %>
              </div>
    </div> <!-- /.col -->

  <div class="col-sm-1">      
      <div class="marggap">
        <!-- <div class="btn btn-xs btn-primary" >-->
        <div class="remove-button">
          
          <%= bill_product.link_to_remove do %>
          <%= image_tag("remove_icon.png", size: "37") %>
 <!-- <span class="fa fa-times" style="color:FireBrick" ></span> -->
          <% end %>
          
        </div>
      </div>
    </div>
    
  </div><!-- row ends here --><br/>
<% end %><!-- nested_form ends here -->
  


  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= f.link_to_add "Add Items", :line_items, class: "btn btn-success" %><br/><p>
   <!-- </div> -->

</div> <!-- portlet content ends here -->
</div><!-- portlet ends here -->

<!-- Product ends here -->
  
<div class="portlet">

<div class="portlet-header">
<h3><i class="fa fa-share"></i> Transporter /Owner  Details</h3>
</div> <!-- /.portlet-header -->

<div class="portlet-content">

<div class="row"> 
  
<div class="col-sm-3">           
<strong>Transporter Name</strong> 
<div id="name" class="input-group">               
<span class="input-group-addon"><i class="fa fa-user"></i></span>
  <%= f.text_field :transporter_name, maxlength: 45,  class: "form-control" %>
</div>
</div> <!-- /.col -->
            
<div class="col-sm-3">           
<strong>Vehicle Number</strong> 
<div class="has-tooltip" data-toggle="tooltip" data-placement="left" title="Maximum limit is 12 digits">
<div id="name" class="input-group">               
<span class="input-group-addon"><i class="fa fa-sort-numeric-asc"></i></span>
  <%= f.text_field :vechicle_number, :maxlength => 12, class: "form-control" %>
</div>
</div>
</div> <!-- /.col -->
        
<div class="col-sm-3">           
<strong>GC/LR Number</strong> 
<div class="has-tooltip" data-toggle="tooltip" data-placement="left" title="Maximum limit is 12 digits">
<div id="name" class="input-group">               
<span class="input-group-addon"><i class="fa fa-sort-numeric-asc"></i></span>
<%= f.text_field :gc_lr_number, :maxlength => 12,  class: "form-control" %>
</div>
</div>
</div> <!-- /.col -->

<div class="col-sm-3">           
<strong>LR Date</strong> 
<div id="name" class="input-group">               
<span class="input-group-addon"><i class="fa fa-sort-numeric-asc"></i></span>
<%= f.text_field :lr_date, class: "form-control", :id => "lr_date" %>
</div>
</div> <!-- /.col -->
  

            
</div> <!-- row ends here -->
</div> <!-- portlet content ends here -->
</div><!-- portlet ends here -->

<!-- Tranport Details ends Here -->  
  
  
<div class="portlet">

<div class="portlet-header">
<h3><i class="fa fa-th"></i> Other Information</h3>
</div> <!-- /.portlet-header -->

<div class="portlet-content">

<div class="row"> 
<div class="col-sm-3">           
<strong>Name Other Charges, if any?</strong> 
<div id="name" class="input-group">               
<span class="input-group-addon"><i class="fa fa-sort-numeric-asc"></i></span>
  <%= f.collection_select :other_charges_information_id, OtherChargesInformation.all, :id, :other_charges,  {:prompt => "Select"} , {:class => "form-control"} %>
</div>
</div> <!-- /.col -->
            
<div class="col-sm-3">           
<strong>Other charges Amount</strong> 
<div id="name" class="input-group">               
<span class="input-group-addon"><i class="fa fa-money"></i></span>
<%= f.text_field :other_charges, class: "form-control" %>
</div>
</div> <!-- /.col -->
        
<div class="col-sm-3">           
<strong>Tax Information&nbsp;<b style="color:red">*</b></strong> 
<div id="name" class="input-group">               
  <%= f.collection_select :tax_id, Tax.all, :id, :tax ,{prompt: "Select Tax"}, {class: "form-control"} %>
</div>
</div> <!-- /.col -->
 
<br/><br/><br/><br/>
  
<div class="col-sm-9">           
  <strong>Other Information</strong> 
<div id="name" class="input-group">               
  <%= f.text_area :other_information, :cols => 100, class: "form-control" %>
</div>
</div> <!-- /.col -->
            
</div> <!-- row ends here -->
</div> <!-- portlet content ends here -->
</div><!-- portlet ends here -->



<div class="row">               
<div class="col-md-2">
  <%= f.submit "Create Bill",  class: "btn btn-success" %>
</div>
<div class="col-md-2">
  <%= link_to "Cancel", new_bill_path,  class: "btn btn-success" %>
</div>
  <% end %>
</div>
</div>
  

  

</div> <!-- /.content-container -->      
</div> <!-- /.content -->
</div> <!-- /.container -->
  

