 
<div class="container">
 <div class="content">
 <div class="content-container">     
<div>
<h4 class="heading-inline">Bill Information </h4>   
  <% unless current_authuser.image_url.nil? %>
  <%= image_tag current_authuser.image_url, height: 50, width: 50 %>
  <% end %>
    <% if alert %> 
                        <div class="row">
                          <div class="col-md-2"></div>
                           <div class="col-md-6">
                              <div class="alert alert-danger"><%= alert %></div>
                            </div>
                        </div><!-- row ends here -->
                     <% end %>
  <br/><br/>
 
<!-- <%= gravatar_for current_authuser %> -->
</div>
<br>

<div class="row"> 
<div class="portlet" id="bill_body">
<div class="portlet-header">

<div class="row">

<div class="col-md-4">
  
  <% urd_values = ["others", "other", "Others", "Other"] %>
  <% if urd_values.include? @bill.customer.name %>
   <% customer = UnregisteredCustomer.where(:bill_id => @bill.id).first  %>
    <h3><i class="fa fa-group"></i>Bill of <%= customer.customer_name  %></h3>  
  <% else %>
    <h3><i class="fa fa-group"></i>Bill of <%= @bill.customer.name  %></h3> 
  <% end %>
  
</div>

<div class="col-md-4">
<h3><i class="fa fa-numeric"></i>Invoice Number&nbsp;&nbsp; :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <% if @bill.invoice_number.length < 6 %>
    <%= @bill.invoice_number = @bill.invoice_number.rjust(6, '0') %>
  <% else %>
    <%= @bill.invoice_number %>
  <% end %>
</h3>
  
</div>

<div class="col-md-4">
<h3><i class="fa fa-calender"></i>Bill Date&nbsp;&nbsp; :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= @bill.bill_date.strftime("%b %d, %Y") %></h3> 
</div>  
</div><!-- row ends here-->
  <hr/>
  <div class="row">

<% if @bill.transporter_name != "" %>
<div class="col-md-3">
  <h3><i class="fa fa-group"></i>Transporter Name&nbsp;&nbsp;: &nbsp;&nbsp;&nbsp;<%= @bill.transporter_name  %></h3> 
</div>
<% else %>
<div class="col-md-3">
<h3><i class="fa fa-group"></i>Transporter Name&nbsp;&nbsp;: &nbsp;&nbsp;&nbsp; NA</h3> 
</div>
<% end %>
    
<% if @bill.gc_lr_number != "" %>
<div class="col-md-3">
<h3><i class="fa fa-numeric"></i>GC/LR number&nbsp;&nbsp; :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= @bill.gc_lr_number %></h3> 
</div>
<% else %>
<div class="col-md-3">
<h3><i class="fa fa-numeric"></i>GC/LR number&nbsp;&nbsp; :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; NA </h3> 
</div>
<% end %>

<div class="col-md-3">
<% if @bill.vechicle_number == "" %>
<h3><i class="fa fa-calender"></i>Vehicle Number&nbsp;&nbsp; :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; NA</h3> 
  <% else %>
<h3><i class="fa fa-calender"></i>Vehicle Number&nbsp;&nbsp; :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= @bill.vechicle_number %></h3> 
  <% end %>
</div>  
    
<div class="col-md-3">
  <% if @bill.lr_date == nil %>
<h3><i class="fa fa-calender"></i>LR Date&nbsp;&nbsp; :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; NA</h3> 
  <% else %>
  <h3><i class="fa fa-calender"></i>LR Date&nbsp;&nbsp; :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= @bill.lr_date.strftime("%d %b %Y") %></h3> 
  <% end %>
</div>  

</div><!-- row ends here-->
  
  
</div> <!-- /.portlet-header -->

<div class="portlet-content">
 <div id="user_notice" class='hide'>
  Esugam number has been generated successfully!
</div>
 
<div class="table-responsive">
<table id="user-signups" class="table table-striped table-bordered table-checkable"> 
  
  <h4>Esugam Number :
    <span id="esugam-number"> <%=  @bill.esugam.present? ? @bill.esugam : "Not Generated" %>  </span>
  </h4>
  <h5 id="error"></h5>
    
  
<br/>
  
<thead> 

<tr> 
<th>Product Name</th> 
<th>Quantity</th>  
<th>Unit Price</th>
<th>Total Price</th> 
<th>Service Tax Rate</th>
<th>Service Tax Amount</th>

</tr> 
</thead> 

<tbody> 
<% @bill.line_items.each do|line_item| %>
 <tr>                      
   <td><%= line_item.product.product_name  %></td> 
   <% qty = line_item.quantity %>
   <% if qty % 1 == 0.0 %>
   <td><%= qty.to_i %></td>
   <% else %>
   <td><%= qty %></td>
   <% end %>
   <td><%= number_with_delimiter(line_item.unit_price, :delimiter => ',') %></td> 
   <td><%= number_with_delimiter(line_item.total_price.round(2), :delimiter => ',')  %></td>
  <!--  <td width="20%"><%= number_with_delimiter(line_item.total_price.round(2), :delimiter => ',')  %></td>-->
   <% if line_item.service_tax_rate != nil %>
   <td><%= line_item.service_tax_rate %></td>
   <td><%= line_item.service_tax_amount.round(2) %></td>
   <% else %>
   <td>NA </td>
   <td>NA</td>
   <% end %>
<% end %>
   
<%
=begin %>
   <% if line_item.service_tax.present? %>
      <td><%= line_item.service_tax.service_tax_rate %></td>
      <td><%= ((line_item.service_tax.service_tax_rate/100) * line_item.total_price).round(2) %></td>
   <% else %>
      <td>NA </td>
      <td>NA</td>
   <% end %>
 </tr>   
 
<%
=end %>
  

  
<tr>
<td colspan="6">
<div class="comlin">
  
<table class="table table-bordered table-checkable">
    
<tr>
<td><strong>Bill Total</strong></td>
  <td><%= number_with_delimiter(@bill.total_bill_price.round(2), :delimiter => ',') %></td>
</tr>
 
<% if @bill.other_charges_information_id != nil %>
<tr>
  <td><strong><%= @bill.other_charges_information.other_charges %></strong></td>
  <td><%= number_with_delimiter(@bill.other_charges, :delimiter => ',') %></td>
</tr>
  <% end %>
  
  <tr>
<% total = @bill.total_bill_price.to_f + @bill.other_charges.to_f %>    
  <td><strong>Sub-Total </strong></td>
  <td><%= number_with_delimiter((total).round(2), :delimiter => ',') %></td>
</tr>
  
<tr>
<% total = @bill.total_bill_price.to_f + @bill.other_charges.to_f %>    
  <td><strong><%= @bill.tax.tax_type %>  @ <%= @bill.tax.tax_rate %> % on <%=number_with_delimiter(total.round(2), :delimiter => ',') %></strong></td>
  <td><%=  number_with_delimiter((@bill.tax.tax_rate * 0.01*total).round(2), :delimiter => ',') %></td>
</tr>
  
  <% service_tax = @bill.line_items.pluck(:service_tax_rate) %>
  <% if service_tax.any? %>
   <% service_tax_rates = @bill.line_items.map(&:service_tax_rate) %>
     <% service_tax_rates = service_tax_rates.uniq %>
 
     <% service_tax_rates.each do |service_tax| %>
       <tr>
         <% line_items = @bill.line_items.where(:service_tax_rate => service_tax) %>
         <% line_items_total_price = line_items.sum(:total_price) %>
         <td><strong>Service Tax Total @ <%= service_tax %> % </strong></td>
         <td><%= ((service_tax/100) * line_items_total_price).round(2) %></td>
       </tr>
       <tr>
         <td><strong>Service Tax Total </strong></td>
         <td><%= @bill.line_items.sum(:service_tax_amount).round(2) %></td>
       </tr>
      <% end %>
  <% else %>
      <tr>
        <td><strong>Service Tax </strong></td>
        <td>NA </td>
      </tr>
  <% end %>
<%
=begin %>
  <!-- grouping by service tax -->
  <tr>
   <% groups = @bill.line_items.group_by(&:service_tax_id) %>
   <% groups.keys.sort.each do |key, value| %>
      <% service_id =  key %>
      <% service_tax = ServiceTax.find(service_id) %>
      <% line_items = @bill.line_items.where(:service_tax_id => key) %>
      <% total_price_sum = line_items.sum(:total_price) %>
      <% service_tax_sum =  (total_price_sum * (service_tax.service_tax_rate/100)).round(2) %>
      <td><strong>Service Tax at  <%= service_tax.service_tax_rate  %> on <%= total_price_sum %></strong></td>
      <td><%=  service_tax_sum %></td>  
  <% end %>
<%
=end %>
 
  
<tr>
<td><strong>Grand Total</strong></td>
  <td><%= number_with_delimiter((@bill.grand_total + @bill.line_items.sum(:service_tax_amount)).round(2), :delimiter => ',') %></td>
  
</tr>
   
</table>
  



</div> <!-- /.portlet-footer -->
    
</td>
</tr>

</tbody>
</table>

 
    <div class="col-md-10">
      <div class="col-md-2" align="left">
        <!-- Button trigger modal -->
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
            Select PDF format
          </button>

          <%= content_for :pdf do %> 
            <!-- Modal -->
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                       <h4 class="modal-title" id="myModalLabel">Select PDF Format</h4>
                    </div>
                    <div class="modal-body">
                      <%= form_for(@bill, :url => {:action => "pdf_format_select"}) do |f| %>
                       <% if alert %> 
                         <div class="row">
                          <div class="col-md-2"></div>
                           <div class="col-md-6">
                              <div class="alert alert-danger"><%= alert %></div>
                            </div>
                         </div><!-- row ends here -->
                       <% end %>
                       <br/>
                       <div class="col-md-2"></div>
                        <label><%= image_tag "format-1.png", width: 150, height: 150 %></label>
                          <%= f.radio_button :pdf_format, "Format1" %>
                           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   
                        <label><%= image_tag "format-2.png", width: 150, height: 150 %></label>
                         <%= f.radio_button :pdf_format, "Format2" %>
                         <br/><br/>
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
                           <label><%= image_tag "format-3.png", width: 150, height: 150 %></label>
                           <%= f.radio_button :pdf_format, "Format3" %>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                       
                           <label><%= image_tag "format-4.png", width: 150, height: 150 %></label>
                           <%= f.radio_button :pdf_format, "Format4" %>
                           <br/><br/>
        <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                            <div class="col-md-5"></div> 
                            <%= f.submit "Submit", class: "btn btn-success" %>
                      <% end %>
                      <br/><br/>
                     </div>
      
                </div><!-- modal content ends -->
               </div><!-- modal dialog ends here -->
             </div><!-- modal fade ends -->
          <% end %> <!-- content for ends her -->
      </div><!-- div col md 2 ends here -->

<%
=begin %>
<div class="col-md-2" align="left">
  <%= link_to "Select PDF Format", pdf_format_path(:id => @bill.id), class: "btn btn-success" %>
</div>
<%
=end %>
      
      <div class="col-md-2" align="left">
        <%= link_to "Generate PDF", bill_path(@bill.id, format: "pdf"), class: "btn btn-success", target: "blank"  %>
      </div>
      
     
   
  
      
      <div id='esugam_div'>
        <%= render 'esugam_button' %> 
      </div>
      
      <div class="col-md-2">
        <%= link_to 'Continue Billing', new_bill_path,  class: 'btn btn-success' %>
        <br/><br/>
      </div> 
  
    </div><!-- col-md-10 ends here -->
 
</div> <!-- /.table-responsive -->
</div> <!-- /.portlet-content -->
        
</div> <!-- /.portlet -->
</div> <!-- /.row -->
   
</div> <!-- content container ends here -->
</div> <!-- contemt ends here -->
</div> <!-- container ends here -->
  




