<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

</head>

<body>

 <div class="container">
 <div class="content">
 <div class="content-container">     
   <div>
    <h4 class="heading-inline">Bill Information </h4>        
   </div>
 <br>

<div class="row"> 
<div class="portlet">
<div class="portlet-header">
<h3><i class="fa fa-group"></i>Bill of <%= @bill.customer.name  %></h3> 
</div> <!-- /.portlet-header -->

<div class="portlet-content">
<div class="table-responsive">
<table id="user-signups" class="table table-striped table-bordered table-checkable"> 


<% if @bill.esugam? %>
<h4> Esugam Number : <%= @bill.esugam %> </h4>
<% end %>

<thead> 

<tr> 
<th>Product Name</th> 
<th>Quantity</th>  
<th>Unit Price</th>
<th>Total Price</th> 
<!-- <th>Delete</th>                     -->
</tr> 
</thead> 

<tbody> 
<% @bill.line_items.each do|line_item| %>
<tr>                      
<td><%= line_item.product.product_name  %></td> 
  <td><%= line_item.quantity %></td> 
  <td><%= line_item.unit_price %></td> 
  <td><%= line_item.total_price  %></td>
 </tr>   
 <% end %>
</tbody>
</table>


<div class="portlet-footer">
<div class="text-left">     
  
<strong>Bill Total : </strong><%= @bill.total_bill_price %> <br/>
<strong><%= @bill.other_charges_info %> : </strong><%= @bill.other_charges %><br/>

<% total = @bill.total_bill_price + @bill.other_charges %>    

<strong><%= @bill.tax.tax_type %>  @ <%= @bill.tax.tax_rate %> % on <%= total %>  = </strong> <%= @bill.tax.tax_rate * 0.01*total %><br/>
<strong>Grand Total : </strong> <%= @bill.grand_total %><br/>
<strong>Other Information : </strong><%= @bill.other_information %>
  
</div>
</div> <!-- /.portlet-footer -->

  <div class="col-md-10">
   
 
  
 <div class="col-md-2" align="left">
<%= link_to "Generate PDF", bill_path(@bill.id, format: "pdf"), class: "btn btn-success", target: "blank"  %>
 </div>
   
<div class="col-md-2">
<script>
$("#spinneret").click(function(){
		$("#spinme").spin();
		$("#messpin").show();
	});
</script>

<% if @bill.esugam == nil && @bill.tax.tax_type == "CST" %>
   <%= link_to "Generate e-sugam",bill_path(@bill, :cause => "esn"),{:class=>"btn btn-success",:id=>"spinneret", confirm: "IF you want to cancel the esugam number you will have to do it in the vat website within 48 hours . Do you want to continue ?"} %>
    <% end %>
<br/><br/><br/>
        <br/>
<!-- <div id="spinme"></div>
<div id=messpin></div> -->
   </div>
   </div>
   
  
 </div> <!-- /.table-responsive -->
 </div> <!-- /.portlet-content -->
        
</div> <!-- /.portlet -->
</div> <!-- /.row -->
   
</div> <!-- content container ends here -->
</div> <!-- contemt ends here -->
</div> <!-- container ends here -->
  
</body>
</html>






