<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

</head>

<body>

 <div class="container">
 <div class="content">
 <div class="content-container">     
   <div>
    <h4 class="heading-inline">Bill Information </h4>        
   </div>
 <br>

<div class="row"> 
<div class="portlet">
<div class="portlet-header">

<div class="row">

<div class="col-md-4">
<h3><i class="fa fa-group"></i>Bill of <%= @bill.customer.name  %></h3> 
</div>

<div class="col-md-4">
<h3><i class="fa fa-numeric"></i>Invoice Number&nbsp;&nbsp; :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= @bill.invoice_number %></h3> 
</div>

<div class="col-md-4">
<h3><i class="fa fa-calender"></i>Bill Date&nbsp;&nbsp; :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= @bill.bill_date.strftime("%b %d, %Y") %></h3> 
</div>  
</div><!-- row ends here-->
  
</div> <!-- /.portlet-header -->

<div class="portlet-content">
  <% if @bill.tax_type == "CST" %>
  <div id="user_notice" class='hide'>
  Esugam number has been generated successfully!
</div>
  <% end %>
<div class="table-responsive">
<table id="user-signups" class="table table-striped table-bordered table-checkable"> 

  <% if @bill.tax_type == "CST" %>
  <h4> Esugam Number :
    <span id= "sugan_text"> <%=  @bill.esugam.present? ? @bill.esugam : "Not Generated." %>  </span>
  </h4>
  <h5 id='sugan_error' class='hide-sugan'> </h5>
  <% end %>
<thead> 

<tr> 
<th>Product Name</th> 
<th>Quantity</th>  
<th>Unit Price</th>
<th>Total Price</th> 
<!-- <th>Delete</th>                     -->
</tr> 
</thead> 

<tbody> 
<% @bill.line_items.each do|line_item| %>
<tr>                      
<td><%= line_item.product.product_name  %></td> 
  <td><%= line_item.quantity %></td> 
  <td><%= line_item.unit_price %></td> 
  <td><%= line_item.total_price  %></td>
 </tr>   
 <% end %>

<tr>
<td colspan="4">
<div class="comlin">
  
<table class="table table-bordered table-checkable">
    
<tr>
<td><strong>Bill Total</strong></td>
<td><%= @bill.total_bill_price %></td>
</tr>
 
<tr>
<td><strong><%= @bill.other_charges_info %></strong></td>
<td><%= @bill.other_charges %></td>
</tr>

<tr>
<% total = @bill.total_bill_price.to_f + @bill.other_charges.to_f %>    
<td><strong><%= @bill.tax.tax_type %>  @ <%= @bill.tax.tax_rate %> % on <%= total %></strong></td>
<td><%= (@bill.tax.tax_rate * 0.01*total).round(2) %></td>
</tr>

<tr>
<td><strong>Grand Total</strong></td>
<td><%= @bill.grand_total %></td>
</tr>
   
</table>
  
<div class="col-md-2" align="left">
<%= link_to "Generate PDF", bill_path(@bill.id, format: "pdf"), class: "btn btn-success", target: "blank"  %>
</div>
   
<div class="col-md-2">
<% if @bill.esugam == nil && @bill.tax.tax_type == "CST" %>
<%= link_to 'Generate e-sugam', generate_esugan_bills_path(bill_id: @bill), method: :post, remote: true,
       class: 'btn btn-success', id: 'user-notice' %>
<% end %>
  
<br/><br/><br/>
        <br/>
  


</div><!-- col-md-10 ends here -->


</div> <!-- /.portlet-footer -->
    
</td>
</tr>

</tbody>
</table>

<div class="col-md-10">
<div class="col-md-2" align="left">
<%= link_to "Generate PDF", bill_path(@bill.id, format: "pdf"), class: "btn btn-success", target: "blank"  %>
</div>
   
<div class="col-md-2">
<% if @bill.esugam == nil && @bill.tax.tax_type == "CST" %>
<%= link_to 'Generate e-sugam', generate_esugan_bills_path(bill_id: @bill), method: :post, remote: true,
        class: 'btn btn-success', id: 'user-notice' %>
  <% end %>
  
<br/><br/><br/>
        <br/>
  
</div> 
</div><!-- col-md-10 ends here -->
   
</div> <!-- /.table-responsive -->
</div> <!-- /.portlet-content -->
        
</div> <!-- /.portlet -->
</div> <!-- /.row -->
   
</div> <!-- content container ends here -->
</div> <!-- contemt ends here -->
</div> <!-- container ends here -->
  
</body>
</html>






