<table border="1">
  <tr>
    <th>Sl.No</th>
    <th>Invoice Number</th>
    <th>Bill Date</th>
    <th>Customer</th>
    <th>Customer Tin Number</th>
    <th>Tax Type</th>
    <%#<th>Tax Amount</th> %>
    <th>Grand Total</th>
   </tr>

  <% @user_bills.each_with_index do|bill, index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= bill.invoice_number %> </td>
      <td><%= bill.bill_date.strftime("%d %b %y") %></td>
      <td><%= bill.customer.name %></td>
      <td><%= bill.customer.tin_number %></td>
      <% if bill.tax_type != 'No Tax' %>
        <% taxes = bill.line_items.pluck(:tax_id) %>
        <% tax = taxes.compact.first %>
        <% taxrate = Tax.where(:id => tax).first.tax_rate %>
       <td><%= taxrate %></td>
      <% else %>
       <td> No Tax</td>
      <% end %>
      <%# <td><%= ((bill.line_items.first.tax.tax_rate*0.01) * bill.grand_total).round(2) %>
      <td><%= bill.grand_total.round(2) %></td>
    </tr>
  <% end %>
   
   </table>