<!DOCTYPE html>
<html>

  <body>
  
<div class="container">
<div class="content">
<div class="content-container">      
<div>
<h4 class="heading-inline">Bills Information</h4>        
</div>
<br/>

<div class="row"> 
<div class="portlet portlet-table">
<div class="portlet-header">
  <h3><i class="fa fa-group"></i>User Bills</h3> 
</div> <!-- /.portlet-header -->
<div class="portlet-content">
<div class="table-responsive">
<table id="user-signups" class="table table-striped table-bordered table-checkable"> 
       
<thead> 
<tr> 
<th>User Name</th> 
<th>Total No Of Bills</th>
<th>Esugam Generated </th>
<th>Cash Based Applications </th>
<th>Monthly Bill</th>
</tr> 

</thead> 
<tbody> 
     
  <% @client_user.each do |user| %>
<% userid = user.authuser.id %>
 
<tr>                      
  <td><%= user.authuser.name %> </td>
  <% bills = user.authuser.bills.where('created_at >= ? AND created_at <= ?', Date.today.to_date.beginning_of_month, Date.today.to_date.end_of_month) %>
  <td><%= bills.count %></td>
  <td><%= user.authuser.bills.where("created_at >= ? AND created_at <= ? AND ESUGAM IS NOT NULL", Date.today.to_date.beginning_of_month, Date.today.to_date.end_of_month).count %></td>
  <td><%= user.authuser.bills.where("created_at >= ? AND created_at <= ? AND ESUGAM IS NULL", Date.today.to_date.beginning_of_month, Date.today.to_date.end_of_month).count %></td>
  <td><%= link_to "Monthly Bill", bills_user_billing_report_path(:id => user.id), class: "listconttext" %></td>
</tr>     
    
<%  end %>
</tbody> 
</table>
        
  <%=  will_paginate  @client_user, renderer: BootstrapPagination::Rails , class: "apple_pagination" %>            
</div> <!-- /.table-responsive -->
</div> <!-- /.portlet-content -->
</div> <!-- /.portlet -->
</div> <!-- /.row -->

</div> <!-- /.content-container -->
</div> <!-- /.content -->
</div> <!-- /.container -->
    
</body>
</html>














