<table border="1">
  <tr>
    <th>Invoice Number</th>
    <th>Date</th>
    <th>Customer</th>
    <th>Tin Number</th>
    <th> Product  </th>
    <th>Total Price</th>
    
  </tr>
  <% @user_bills.each do |bill| %>
  <tr>
    <td><%= bill.invoice_number %></td>
    <td><%= bill.bill_date.strftime("%b %d %Y") %></td>
    <td><%= bill.customer.name %></td>
    <td><%= bill.customer.tin_number %></td>
    <td><%= bill.line_items.first.product.product_name %></td>
   
    <td><%= bill.total_bill_price %></td>
    
     <% end %>
    </tr>
   </table>