<%= form_for @customer do |f| %>
<% if @customer.errors.any? %>
<% @customer.errors.full_messages.each do|error|  %>
<ul>
  <li><%= error %></li>
</ul>
<% end %>
<% end %>
<label> Name </label><br/>
<%= f.text_field :name %><br/><p>
<label> Email </label><br/>
<%= f.text_field :email %><br/><p>
<label> Tin Number <label><br/>
<%= f.text_field :tin_number %><br/><p>
<label> Phone number <label><br/>
<%= f.text_field :phone_number %><br/><p>
  <label> Address </label><br/>
  <%= f.text_field :address %><br/><p>
  <label> City </label><br/>
  <%= f.text_field :city %><br/><p>
  <%= f.submit %>
  <% end %>
  