
 <div class="container">
 <div class="content">
 <div class="content-container">   
   
<div>
<h4 class="heading-inline">Customers</h4>        
</div>

<br>
<div class="row"> 
<div class="portlet">

<div class="portlet-header">
<h3><i class="fa fa-group"></i> New customer</h3>
</div> <!-- /.portlet-header -->

<div class="portlet-content">
        
  <%= form_for @customer do |f| %>
<% if @customer.errors.any? %>
  <div class="col-md-8">
  <div class= "alert alert-danger">
<% @customer.errors.full_messages.each do|error|  %>
<ul>
  <li><%= error %></li>
</ul>
<% end %>
  </div>
  </div>
<% end %>
  
<div class="row">    
  
  &nbsp;&nbsp;<b style="color:red">*</b>&nbsp;<b> Indicates the mandatory fields</b><br/><br/>
<div class="col-sm-6 marggap">   
Name&nbsp;&nbsp;<b style="color:red">*</b>
<div id="name" class="input-group">               
<span class="input-group-addon"><i class="fa fa-user"></i></span>
  <%= f.text_field :name, class: "form-control" %>
</div>
</div> <!-- /.col -->

<div class="col-sm-6 marggap">  
Email&nbsp;&nbsp;<b style="color:red">*</b>
<div id="email" class="input-group">          
<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
  <%= f.text_field :email, class: "form-control" %>
</div>
</div> <!-- /.col -->
</div><!-- row ends here -->
 
<div class="row">    
  
<div class="col-sm-6 marggap">  
Tin Number&nbsp;&nbsp;<b style="color:red">*</b>
<div class="has-tooltip" data-toggle="tooltip" data-placement="left" title="Should Be 11 Digits">
<div id="number" class="input-group">               
<span class="input-group-addon"><i class="fa fa-sort-numeric-asc"></i></span>
  <%= f.text_field :tin_number,maxlength: 11, class: "form-control" %>
</div>
</div> <!-- /.col -->
</div>
  
<div class="col-sm-6 marggap">  
Mobile Number
<div id="phone" class="input-group">               
<span class="input-group-addon"><i class="fa fa-phone"></i></span>
  <%= f.text_field :phone_number ,maxlength: 10,  class: "form-control" %>
</div>
</div> <!-- /.col -->
</div>  <!-- row ends here -->
  
<div class="row">
  
<div class="col-sm-6 marggap">  
Address
<div id="city" class="input-group">               
<span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
  <%= f.text_field :address, maxlength: 50, class: "form-control" %>
</div>
</div> <!-- /.col -->
            
  
<div class="col-sm-6 marggap">  
City
<div id="City" class="input-group">               
<span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
  <%= f.text_field :city , class: "form-control" %>
</div>
</div> <!-- /.col -->
</div><!-- row ends here -->
  
<div class="row">
  <div class="col-sm-6 marggap">  
State
<div id="City" class="input-group">               
<span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
  <%= f.text_field :state , class: "form-control" %>
</div>
</div> <!-- /.col -->
  </div>
  
<div class="row portlet-content">       
<%= f.submit "Create Customer", class: "btn btn-success" %>
</div>
<% end %>


</div> <!-- /.portlet-content -->
</div> <!-- /.portlet -->
</div> <!-- /.row -->
   
   
</div> <!--  content container ends here -->
</div> <!-- content ends here -->
</div> <!-- container ends here -->
  




  