<hr>
<h3> Listing Customers </h3>

<% if @user_customers.blank? %>
<%= link_to "Add Customer", new_customer_path %>
<% else %>
<% @user_customers.each do |customer| %>
<ul>
  <li><%= link_to customer.name, customer_path(customer.id) %> | 
    <%= link_to "Edit Customer" , edit_customer_path(customer.id) %></li>
</ul>
<% end %>
<% end %>
<br/>

<h3> Import Customers </h3>
<%= form_tag customers_customer_import_path, multipart: true do %><br/>
  <%= file_field_tag :file %><br/><p>
<%= submit_tag "Import Customers" %>
<% end %><br/>
<%= link_to "Format for Importing Customers", customers_customer_download_path(format: "xls") %> 
<p><b>Note: </b>When importing .xls files, save the file as <b>"excel 97-2003 workbook"</b> format to avoid errors</p>