<div class="container">
  <div class="content">
    <div class="content-container">
      
      <div class="row">
       
        <div class="portlet portlet-table">
          <div class="portlet-header">
            <h3><span class="glyphicon glyphicon-tags"></span>
                         &nbsp;&nbsp;Referral Types
            </h3>
          </div><!-- portlet-header ends here -->
           
          <div class="portlet-content">
           
            <div class="table-responsive">        
              <table class="table table-bordered">
              <% if notice %>
              <div class="col-md-8">
              <div class="alert alert-success">
                <%= notice %>
              </div><!-- alert ends here -->
              </div><!-- col ends here -->
              <% end %>
              
                     <thead>
                      <tr>
                        <th>Sl.No</th>
                        <th> Referral type </th>
                        <th>Price Rates</th>
                        <th>Edit</th>
                      </tr>
                   <thead>
      
                   <tbody>
                     <% @referral_types.each_with_index do |referral, index| %>
                      <tr>
                        <td><%= index + 1 %></td>
                        <td><%= referral.referral_type %></td>
                        <td><%= referral.pricing %></td>
                        <td><%=  link_to edit_referral_type_path(referral.id), title: "Edit Referral Type", class: "btn btn-xs btn-danger" do %>
                          <i class="fa fa-edit"></i>
                          <% end %></td>
                      </tr>
                     <% end %>
                   </tbody>
                 </table>
              
              <div class="portlet-footer">
                <div class="text-right">
                  <%= link_to new_referral_type_path, title: "Add Referral Type" do%>
                  <button class="btn btn-success">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                    &nbsp;Referral type</button>
                  <% end %>
                 </div><!-- text-right ends here -->
                </div><!-- portlet footer ends here  -->
          
              
             </div><!-- table responsive ends here -->
            </div><!-- portlet-content ends here -->
           </div><!--portlet portlet-table ends here -->
         
        </div><!--  row ends here -->
      
    </div><!-- conent-container ends here -->
  </div><!-- content ends here -->
</div> <!-- container ends here -->
        