
 <div class="container">
   <div class="content">
      <div class="content-container">     
   
          <div>
             <h4 class="heading-inline">User Management</h4>        
          </div>
          <br>
   
          <div class="row"> 
             <div class="portlet">

                <div class="portlet-header">
                    <h3><i class="fa fa-user"></i>Invite User</h3>
                </div> <!-- /.portlet-header -->

                <div class="portlet-content">
                   <div class="col-sm-8"> 
  
                       <div class="row">  
                          <div class="col-md-6">
                             <div id="name" class="input-group ">  
  
                                 <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
                                      <% if devise_error_messages!.present? %>
                                         <div class="alert alert-danger">
                                           <%= devise_error_messages! %>
                                         </div>
                                      <% end %>
  
                                      <% resource.class.invite_key_fields.each do |field| -%>
                                            <!-- <%= f.label field %> -->
                                            <label> Email ID </label>
                                            <div id="email" class="input-group">  
                                               <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                               <%= f.text_field field , class: "form-control" %>
                                            </div>
                                      <% end -%><br/>
                                      <p><%= f.submit t("devise.invitations.new.submit_button"), :title => "Send Mail to User", class: "btn btn-success" %>
                                 <% end %>
                             </div><!-- name group ends -->
                          </div><!-- col md -6 ends -->
                       </div><!-- row ends here -->
                   </div><!-- col dm 8 ends -->
                </div><!-- portlet content ends here -->
            </div><!-- portlet ends here -->
         </div> <!-- row ends here -->
     </div><!-- content container ends here -->
    </div><!-- content ends here -->
   </div><!-- container ends here -->
  
