<tbody>
  <% @current_authuser_clients.each do |client| %>
  <% clientid = client.authuser.id %>
   <%  c = client.authuser.membership.id %>
  <% @user = User.where(:client_id => clientid) %>
  <% @user_count = @user.count %>
  
 <tr>
   <td class="hidden-xs"><%= link_to client.authuser.name, authuser_path(clientid)  %></td>
 <td><%= client.authuser.approved %></td>
   <td><%= link_to  client.authuser.membership.membership_end_date.strftime("%d %b %Y"), edit_membership_path(c)  %></td> 
 <td><%= @user_count %></td>
       
  
  <% if client.authuser.approved == false %>
   <td><%= link_to "Approve User" , activate_user_path(client.authuser.id), method: :put, remote: true, data: {confirm: "Are You Sure You Want To Approve The Client?"} %></td>
   
       
<% elsif client.authuser.approved == true %>       
   <td><%= link_to "De-activate User" , de_activate_user_path(client.authuser.id), method: :put, remote: true, data: {confirm: "Are You Sure You Want To De-Activate The Client?"}  %></td> 
<% end %>   

</tr>
<% end %>
</tbody>

 
