
 

 
<hr><br/>


 You have <%= pluralize(@count, "Chartered Accountant") %><br/>

<% @current_authuser_clients.each do |client| %>
<ul>
   <% c =  client.authuser.membership.id %>
 <li><%= link_to client.authuser.name,  edit_membership_path(c) %> |<b>Current Status :</b> <%= client.authuser.approved %> | <b>Membership End Date :</b> <%= client.authuser.membership.membership_end_date.strftime("%b %d, %Y") %> |
  
  <% clientid = client.authuser.id %>
   <% @user = User.where(:client_id => clientid) %>
   <% @user_count = @user.count %>
   <% @user.each do |user| %>
   <% user.authuser.name %>
   <% end %>
   <b>No of Users :</b> <%=  @user_count %> |
  
  <% if client.authuser.approved == false %>
    <%= link_to "Approve User" , activate_user_path(client.authuser.id), method: :put %>|
     
<% elsif client.authuser.approved == true %>
   <%= link_to "De-activate User" , de_activate_user_path(client.authuser.id), method: :put %> 
  <% end %>   
   
  </li>
</ul>  
 <% end %>

 

<br/><p>

<br/>    

Create a Chartered Accountant <%= link_to "Create CA", authusers_admin_new_path %>
<br/><p>




<hr>


