<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
</head>

<body>

 <div class="container">
 <div class="content">
 <div class="content-container">     
   <div>
    <h4 class="heading-inline"><%= current_authuser.name %></h4>        
   </div>
 <br>

 <div class="row">   
   
 <div class="col-sm-6 col-md-3">
 <div class="row-stat">
 <p class="row-stat-label">Total No Of Chartered Accountants</p>
   <h3 class="row-stat-value"><%= Client.where(:created_by => current_authuser.id).count %></h3>
 <span class="label label-success row-stat-badge"></span>
 </div> <!-- /.row-stat -->
 </div> <!-- /.col -->

</div> <!-- row ends here-->
       
       
 <div class="row">
 <div class="portlet portlet-table">
 
 <div class="portlet-header">
 <h3><i class="fa fa-group"></i>               
 You have <%= pluralize(@count, "Chartered Accountant") %></h3>
 </div> <!-- Portlet header ends -->
   
 <div class="portlet-content">
 <div class="table-responsive">
 <table id="user-signups"class="table table-striped table-bordered table-checkable"> 
      
 <thead> 
 <tr> 
 <th>Name</th> 
 <th>Current Status</th> 
 <th>Membership End Date</th>
 <th>Number of Users</th>
 <th>Activate/De-Activate User</th>
 </tr> 
 <thead> 
      
 <%= render 'user_list' %>    
</table>
  
                       
<div class="portlet-footer">
<div class="text-right">    
<%= link_to authusers_admin_new_path do %> <button class="btn btn-success">Create CA</button>
<% end %>
</div> <!-- text-right ends here -->
 </div> <!-- /.portlet-footer -->
   
   
 </div> <!-- /.table-responsive -->
 <div> <!-- /.portlet-content -->

 </div> <!-- /.portlet -->
 </div> <!-- /.row -->
   
 </div> <!-- /.content-container -->
 </div> <!-- /.content -->
 </div> <!-- /.container -->

</body>
</html>








 
