<h3><%= current_authuser.name %><br/></h3>


You have <%= pluralize(current_authuser.users.count, 'User') %><br/>

<ul>
  <% current_authuser.users.each do|c| %>
  <li><%= link_to c.name, user_path %></li>
  <% end %>
</ul><br/><p>


Create New User <%= link_to "Create User", authusers_client_new_path  %><br/><p>

Create New Commodities <%= link_to "Add commodities", new_usercategory_path %>
<hr>

<%= link_to "Sign Out", destroy_authuser_session_path, method: :delete %>

