

<hr><p>
You have <%= pluralize(@users.count, 'User') %><br/>

<h3> Manage Users </h3>

<%= link_to "Invite User", new_authuser_invitation_path %><br/><p>
<% c = current_authuser.clients.first.id %>

<% unless current_authuser.permissions.second.main_role_id == 3 %>
Add as a user  <%= link_to "Add user", clients_user_role_path %>
<% end %>




<h3> Approved Users </h3>
<% @users.each do |user| %>
<% if user.authuser.approved == true %>
<ul>
   <% c = user.authuser.membership.id %>
   <li> <%=  user.authuser.name %> |
    <%= link_to "Membership Details", edit_membership_path(c) %>|
    <%= link_to "De-activate User" , de_activate_user_path(user.authuser.id), method: :put %></li>
</ul>
<% end %>
<% end %>
<br/>
<h3> Non approved Users </h3>
<% @users.each do |user| %>
<% if user.authuser.approved == false %>
<% c = user.authuser.membership.id %>
<ul>
  <li><%= link_to user.authuser.name %> |
  <%= link_to "Approve User" , activate_user_path(user.authuser.id), method: :put %></li>

</ul>

<% end %>
<% end %><br/>













