<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

 
</head>

<body>

 <div class="container">
 <div class="content">
 <div class="content-container">     
   <div>
    <h4 class="heading-inline"><%= current_authuser.name %></h4>     
    </div>
 <br>

   <div class="row">   
   
 <div class="col-sm-6 col-md-3">
 <div class="row-stat">
 <p class="row-stat-label">Total Users</p>
   <h3 class="row-stat-value"><%= @users_count %></h3>
 <span class="label label-success row-stat-badge"></span>
 </div> <!-- /.row-stat -->
 </div> <!-- /.col -->
 </div> <!-- row ends here-->
   
   <% if alert %>
   <div class="col-md-4">
      <div class="alert alert-danger"><%= alert %></div>
   </div>
      <% end %>
     <% if notice %>
    <div class="col-md-8">
      <div class= "alert alert-success"><%= notice %></div>
    </div>
      <% end %>
       
       
 <div class="row">
 <div class="portlet portlet-table">
 
 <div class="portlet-header">
 <h3><i class="fa fa-group"></i>               
   You have <%= pluralize(@users.count, 'User') %><br/></h3>
 </div> <!-- Portlet header ends -->
   
 <div class="portlet-content">
 <div class="table-responsive">
 <table id="user-signups"class="table table-striped table-bordered table-checkable"> 
      
 <thead> 
 <tr> 
 <th>Name</th> 
 <th>Current Status</th> 
 <th>Membership End Date</th>
 <th>No of Cash based Applications</th> 
 <th>No of Esugam Generated</th> 
 <th>Activate/De-Activate User</th>
 </tr> 
 <thead> 
  <div id ='users_div'> 
   <%= render 'user_list' %>   
  </div>  
 
</table>
  
<div class="portlet-footer">
<% if current_authuser.main_roles.count == 1 %> 
<div class="col-md-6">
<div class="text-left">  
<%= link_to clients_user_role_path do %><button class="btn btn-success">Add User Role</button>
 <% end %>
</div> <!-- text-left ends here -->
  </div><!-- col ends here -->
 
  <% end %>


<div class="text-right"> 
<%= link_to new_authuser_invitation_path do %><button class="btn btn-success">Invite User</button>
<% end %>
</div> <!-- text-right ends here -->
 <br/>
</div> <!-- /.portlet-footer -->
   
 </div> <!-- /.table-responsive -->
 </div> <!-- /.portlet-content -->

 </div> <!-- /.portlet -->
 </div> <!-- /.row -->
 
 
   
   </div><!-- content container ends here -->
   </div><!-- content ends here -->
  </div><!-- container ends here -->
  
  </body>
</html>














