 <div class="container">
  <div class="content">
   <div class="content-container">     
     <div>
        <h4 class="heading-inline"><%= current_authuser.name %></h4>        
     </div>
     <br/>
   
      <% if notice %>
          <div class="alert alert-success"><%= notice %></div>
      <% end %>
      <br/><br/>
  <div class="row">   
    
    <div class="col-sm-6 col-md-3">
      <div class="row-stat">
        <p class="row-stat-label">No of Esugam's Generated<br/>This Month</p>
        <h2 class="row-stat-value">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= @bills_esugam.count %></h2>
        <span class="label label-success row-stat-badge"></span>
      </div> <!-- /.row-stat -->
    </div> <!-- /.col -->

 
    <div class="col-sm-6 col-md-3">
      <div class="row-stat">
        <p class="row-stat-label">No of Cash Based Applications<br/> This Month</p>
        <h2 class="row-stat-value">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= @cash_based_applications.count %></h2>
        <span class="label label-success row-stat-badge"></span>
      </div> <!-- /.row-stat -->
    </div> <!-- /.col -->
  </div> <!-- row ends here-->
  
   
   <div class="row">
    <div class="portlet portlet-table">
      
      <div class="portlet-header">
        <h3><i class="fa fa-group"></i>               
        You have <%= pluralize(@secondary_users.count, 'User') %><br/></h3>
      </div> <!-- Portlet header ends -->
  
      <div class="portlet-content">
        <div class="table-responsive">
          <table id="user-signups" 
            class="table table-striped table-bordered table-checkable"> 
      
              <thead> 
                <tr> 
                  <th>Name</th> 
                  <th>Email</th> 
                  <th>Membership End Date</th>
                  <th>Activate/Deactivate User</th>
                  <th>No of Cash based Applications</th> 
                  <th>No of Esugam Generated</th> 
                 
                </tr> 
              </thead> 
               
              <tbody>
                <% @secondary_users.each do |user| %>
                  <% userid = user.id %>
                  <% @bills = user.bills %>
                  <% date = Date.today.strftime("%Y%m%d") %>
                  <% @cash_applications = @bills.where('ESUGAM IS NULL AND created_at >= ? AND created_at <= ?', date.to_date.beginning_of_month, date.to_date.end_of_month) %>
                  <% @esugam = @bills.where('ESUGAM IS NOT NULL AND created_at >= ? AND created_at <= ?', date.to_date.beginning_of_month, date.to_date.end_of_month ) %>

                  <tr>
                    <td style="text-align:center" class="hidden-xs"><%= user.name %></td>
                    <td style="text-align:center"><%= user.email %></td>
                    <% if user.membership.membership_end_date.present? %>
                    <td style="text-align:center"><%= link_to user.membership.membership_end_date.strftime("%d %b %Y"), edit_membership_path(user.membership.id) ,  class: "listconttext"%></td>
                    <% else %>
                       <td style="text-align:center">NA </td>
                    <% end %>
                    <% if user.approved == false %>
                      <td><%= link_to "Approve User" , activate_user_path(user.id), method: :put, data: {confirm: "Are You Sure You Want To Approve The User"} ,  class: "listconttext"%></td>
                    <% elsif user.approved == true %>       
                       <td><%= link_to "De-activate User" , de_activate_user_path(user.id), method: :put, data: {confirm: "Are You Sure You Want To De-Activate The User?"} ,  class: "listconttext" %></td> 
                    <% end %>   
                    <td style="text-align:center"><%= @cash_applications.count %></td>
                    <td style="text-align:center"><%= @esugam.count %></td>
                  </tr>
                <% end %>
              </tbody>    
          </table>

          <div class="portlet-footer">
           <div class="text-right"> 
             <%= link_to new_authuser_invitation_path , title: "Add Secondary User", class: "btn btn-success" do %>
             <span class="glyphicon glyphicon-plus-sign"></span>
             &nbsp;Secondary User
             <% end %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             <%= link_to authusers_user_management_path,  title: "View invited users activity" do %>
                   <button class="btn btn-success">
                     <span class="glyphicon glyphicon-list"></span>
                     &nbsp;View Users Activity</button>
             <% end %>
           </div><!-- text right ends here -->
          </div> <!-- /.portlet-footer -->
         
        </div><!--  table-responsive ends here -->
      </div><!--portlet-content ends here -->
     </div><!-- portlet portlet-table ends here -->
     </div><!-- row ends here -->
     </div><!-- content container ends here -->
   </div><!-- content ends here -->
  </div><!-- container ends here -->
  
  





