 <div class="container">
  <div class="content">
   <div class="content-container">     
     <div>
        <h4 class="heading-inline"><%= current_authuser.name %></h4>        
     </div>
     <br/>
   
      <% if notice %>
          <div class="alert alert-success"><%= notice %></div>
      <% end %>
      <br/><br/>
  <div class="row">   
    
    <div class="col-sm-6 col-md-3">
      <div class="row-stat">
        <p class="row-stat-label">No of Esugam's Generated<br/>This Month</p>
        <h3 class="row-stat-value"><%= @bills_esugam.count %></h3>
        <span class="label label-success row-stat-badge"></span>
      </div> <!-- /.row-stat -->
    </div> <!-- /.col -->

 
    <div class="col-sm-6 col-md-3">
      <div class="row-stat">
        <p class="row-stat-label">No of Cash Based Applications<br/> This Month</p>
        <h3 class="row-stat-value"><%= @cash_based_applications.count %></h3>
        <span class="label label-success row-stat-badge"></span>
      </div> <!-- /.row-stat -->
    </div> <!-- /.col -->
  </div> <!-- row ends here-->
  
   
   <div class="row">
    <div class="portlet portlet-table">
      
      <div class="portlet-header">
        <h3><i class="fa fa-group"></i>               
        You have <%= pluralize(@secondary_users.count, 'User') %><br/></h3>
      </div> <!-- Portlet header ends -->
  
      <div class="portlet-content">
        <div class="table-responsive">
          <table id="user-signups" 
            class="table table-striped table-bordered table-checkable"> 
      
              <thead> 
                <tr> 
                  <th>Name</th> 
                  <th>Email</th> 
                  <th>No of Cash based Applications</th> 
                  <th>No of Esugam Generated</th> 
                 
                </tr> 
              </thead> 
               
              <tbody>
                <% @secondary_users.each do |user| %>
                  <% userid = user.id %>
                  <% @bills = user.bills %>
                  <% date = Date.today.strftime("%Y%m%d") %>
                  <% @cash_based_applications = @bills.where('ESUGAM IS NULL AND created_at >= ? AND created_at <= ?', date.to_date.beginning_of_month, date.to_date.end_of_month) %>
                  <% @esugam = @bills.where('ESUGAM IS NOT NULL AND created_at >= ? AND created_at <= ?', date.to_date.beginning_of_month, date.to_date.end_of_month ) %>

                  <tr>
                    <td class="hidden-xs"><%= user.name %></td>
                    <td><%= user.email %></td>
                    <td><%= @cash_based_applications.count %></td>
                    <td><%= @esugam.count %></td>
                  </tr>
                <% end %>
              </tbody>    
          </table>

          <div class="portlet-footer">
            <div class="text-right">    
              <%= link_to "Add User", authusers_secondary_user_path, class: "btn btn-success" %>
            </div> <!-- text-right ends here -->
          </div> <!-- /.portlet-footer -->
         
        </div><!--  table-responsive ends here -->
      </div><!--portlet-content ends here -->
     </div><!-- portlet portlet-table ends here -->
     </div><!-- row ends here -->
     </div><!-- content container ends here -->
   </div><!-- content ends here -->
  </div><!-- container ends here -->
  
  





