
<div class="container">
  <div class="content">
    <div class="content-container">      

      <div>
        <h4 class="heading-inline"> Taxes</h4>        
      </div>
      <br>
      <div class="row"> 
        <div class="portlet portlet-table">
          
          <div class="portlet-header">
            <h3><i class="fa fa-money"></i>Manage Tax</h3> 
          </div> <!-- /.portlet-header -->

          <div class="portlet-content">
            <div class="table-responsive">
               <table id="user-signups" class="table table-striped table-bordered table-checkable"> 
                 <% if notice %>
                    <br/>
                    <div class="col-md-6">
                      <div class="alert alert-success"><%= notice %></div>
                    </div>
                 <% end %>
                 <% if alert %>
                    <br/>
                    <div class="col-md-6">
                      <div class="alert alert-danger"><%= alert %></div>
                    </div>
                 <% end %>
                 <thead> 
                    <tr> 
                      <th>Tax Name</th> 
                      <th>Tax type</th>                       
                      <th>Tax On Tax</th>
                      <th>Edit</th>
                    </tr> 
                 <thead> 
                 <tbody> 
                   <% @taxes.each do |tax| %>
                    <tr>                      
                      <td><%= tax.tax_name %></td>
                      <td><%= tax.tax_type %></td>
                      <% if tax.tax_on_tax == "yes" %>
                        <td> Yes </td>
                      <% elsif tax.tax_on_tax == "no" %>
                        <td> No </td>
                      <% end %>
                      <td>
                        <%= link_to  edit_tax_path(tax.id),  title: "Edit Tax", class: "btn btn-xs btn-primary" do %>
                            <i class="fa fa-edit"></i>
                        <% end %>
                      </td>
                    </tr>    
                   <% end %>
<%
=begin %>
                
                    <!-- <td><%= link_to "Delete Tax" , tax_path(tax.id), class: "btn btn-xs btn-primary", method: :delete, data: {confirm: "Are you sure?"} %>
                    <i class="fa fa-trash-o"></i></td>                        -->
<%
=end %>
                 </tbody> 
               </table>
               
               <div class="portlet-footer">
                  <div class="text-right">                  
                     <%= link_to new_tax_path ,title: "Add New Tax" do %>
                           <button class="btn btn-success">
                             <span class="glyphicon glyphicon-plus-sign"></span>
                              &nbsp;Tax 
                           </button>
                     <% end %>
                  </div><!-- text right ends -->
               </div> <!-- /.portlet-footer -->
              &nbsp;&nbsp;&nbsp; <%=  will_paginate  @taxes, renderer: BootstrapPagination::Rails , class: "apple_pagination" %>                
             </div> <!-- /.table-responsive -->
            &nbsp;&nbsp;&nbsp;<%= link_to taxes_download_tax_path(format: "xls") do %>
                                <button class="btn btn-success">
                                  <span class="glyphicon glyphicon-cloud-download"></span>
                                  &nbsp; Available Tax Types
                                </button>
                              <% end %>
            <br/><br/>
            </div> <!-- /.portlet-content -->
           </div> <!-- /.portlet -->
         </div> <!-- /.row -->
     </div> <!-- /.content-container -->
   </div> <!-- /.content -->
 </div> <!-- /.container -->
