<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

 
</head>

<body>

 <div class="container">
 <div class="content">
 <div class="content-container">     
   <div>
    <h4 class="heading-inline"><%= current_authuser.name %></h4>        
   </div>
 <br>

<h3> Listing Commodities for <%= @user.name %></h3>
<% if @user.categories.blank? %>
No Commodity found for <%= @user.name %>
<%-# <%=  link_to "Create Category", new_category_path(:id => @user) -%> 
<% else %>
<ul>
<% @user_categories.each do |c| %>
  <li> <%= link_to c.category_name , category_path(c) %></li>
  <% end %>
</ul>
    <% end %>
<br/>
<%= link_to "Create Commodity", new_category_path(:id => @user) %>
<hr>
<%= will_paginate @user_categories %>
   
   </div><!-- content container ends here -->
   </div><!-- content ends here -->
  </div><!-- container ends here -->
  
  </body>
  </html>
  
  