<h3> Listing Products </h3>

<% if @user_products.blank? %>
<%= link_to "Add Product", new_product_path %>
<% else %>
<% @user_products.each do |product| %>
<ul>
  <li><%= link_to product.product_name, product_path(product.id) %> | 
    <%= link_to "Edit Product" , edit_product_path(product.id) %></li>
</ul>
<% end %>
<% end %>
<br/>

<table border="1">
  <tr>
    <th>Product Name</th>
    <th>Units</th>
       <th>Commodity Name</th>
    <th>Edit</th>
    <th>Delete</th>
    </tr>
<% @user_products.each do |product| %>
    <tr>
    <td><%= product.product_name %></td>
    <td><%= product.units %></td>
    <td><%= product.usercategory.commodity_name %></td>
    <td><%= link_to "Edit Product" , edit_product_path(product.id) %></td>
   <td> <%= link_to "Delete ", product_path(product.id), method: :delete, data: {confirm: "Are you sure you want to delete the product?"} %></td>
    </tr>
  <% end %>
</table>


<h3> Import Products </h3>
<%= form_tag products_product_import_path, multipart: true do %><br/>
  <%= file_field_tag :file %> <br/><p>
<%= submit_tag "Import Products" %>
<% end %>
<br/>
<%= link_to "Download Available Commodity List", products_usercategory_product_path(format: "xls") %> 
<br/><p>
<%= link_to "Format for Importing Products", products_product_download_path(format: "xls") %> 
<p><b>Note: </b>When importing .xls files, save the file as <b>"excel 97-2003 workbook"</b> format to avoid errors</p>
<br/><p>



