<h3>Listing products of <%= @category.category_name %> </h3>
<% if @category.products.blank? %>
No product found for <%= current_authuser.name %>
<% else %>
<ul>
<% @category_products.each do |p| %>
<li>
  <%= link_to p.product_name, product_path(p) %> 
</li>
<% end %>
</ul>
<% end %>
<%= link_to "Create product", new_product_path %><hr>

<%= will_paginate @category_products %>