<h3><%= @product.product_name %></h3>
<hr/>
<h4><p>Unit: <%= @product.units %><p></h4>
<h4><p>Category ID: <%= @product.category_id %><p></h4>

<%= link_to "Edit", edit_product_path(@product)%> |
<%= link_to "Delete", product_path(@product), method: :delete %>
