<hr>
<h2>Registration for Clients</h2>

<%= form_for(@client, :url => '/authusers/admin_create') do |f| %><br/>
<% if @client.errors.any? %>
<% @clients.errors.full_messages.each do|error| %>
<ul>
  <li><%= error %></li>
</ul>
<% end %>
<% end %>

<div class="field">
  <%= f.label :Name %><br />
  <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email  %>
  </div>

  <div class="field">
    <label>Password </label><br/>
    <%= f.password_field :password %><br/><p>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div><br/>

<%= f.hidden_field :invited_by_id, :value => current_authuser.id %>
<%= f.hidden_field :invited_by_type, :value => "Authuser" %>

 
<%= f.submit "Create CA" %>
  <% end %>