<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  </head>

<body>

 <div class="container">
 <div class="content">
 <div class="content-container">     
   <div>
    <h4 class="heading-inline"><%= current_authuser.name %></h4>        
   </div>
 <br>
   
<div class="row"> 
<div class="portlet">
  
<div class="portlet-header">
<h3><i class="fa fa-user"></i>Change Role</h3>
</div> <!-- /.portlet-header -->

<div class="portlet-content"> 
  
<div class="col-sm-8"> 
<div class="row">
  
<%= form_tag(authusers_change_role_update_path, method: :put) do -%>
  <% @user.main_roles.each do |role| %>
<%= radio_button_tag :roles, role.role_name, false %>&nbsp;  <strong><%= role.role_name.capitalize %></strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<% end %><br/><br/>
 <%= submit_tag 'Change Role', class: "btn btn-success"  %>
<% end %>
</div>
</div>
  


 
   


</div> <!-- /.portlet-content -->
</div> <!-- /.portlet -->
</div> <!-- /.row -->
  
 


</div> <!-- content-container ends here -->
</div> <!-- content ends here -->
</div> <!-- container ends here -->

</body>
</html>