

<div class="container">
  <div class="content">
   <div class="content-container">      
  
      <div>
        <h4 class="heading-inline">Update Profile</h4>
        <% if current_authuser.image.present? %>
          <div class="text-right">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <%= image_tag current_authuser.image_url, height: 70, width: 80, crop: "fit" %>
          </div>
        <% end %>
      </div>

      <script type="text/javascript">
       $(document).ready(function(){
         $("#dob").datepicker({
           dateFormat: "dd/mm/yy" ,
           changeMonth: true,
           changeYear: true,
           changeDate: true,
           maxDate: '-18Y'
         });        
       });
     </script>
  
      <%= form_for(@user, :url => '/authusers/client_update') do |f| %>
          <% if @user.errors.any? %>
             <div class="alert alert-danger">
                <% @user.errors.full_messages.each do |error| %>
                    <ul>
                      <li><%= error %></li>
                    </ul>
                <% end %>
             </div>
          <% end %>
  
          <div class="row"> 
             <b style="color:red">*</b>&nbsp;<b> Indicates the mandatory fields</b><br/><br/>
             <div class="portlet">
  
                 <div class="portlet-header">
                   <h3><i class="fa fa-user"></i>Update Profile</h3>
                 </div> <!-- /.portlet-header -->
 
                 <div class="portlet-content">

                  <div class="row">
                    <div class="col-sm-3">           
                       Name&nbsp;<b style="color:red">*</b>
                       <div id="name" class="input-group">      
                           <span class="input-group-addon"><i class="fa fa-user"></i></span>
                           <%= f.text_field :name, class: "form-control", autofocus: true %>
                       </div>
                    </div> <!-- /.col -->

                    <div class="col-sm-3">           
                       Email&nbsp;<b style="color:red">*</b>
                       <div id="name" class="input-group">      
                          <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                          <%= f.email_field :email, class: "form-control" , :readonly => true %>
                       </div>
                    </div> <!-- /.col -->
 
                    <div class="col-sm-3">           
                       Password&nbsp;<b style="color:red">*</b>
                       <div class="has-tooltip" data-toggle="tooltip" data-placement="left" title="Minimum 8 Characters">
                         <div id="Password" class="input-group">               
                           <span class="input-group-addon"><i class="fa fa-star"></i></span>
                           <%= f.password_field :password, minlength: 8, class: "form-control", required: true %>
                         </div>
                       </div>
                    </div> <!-- /.col -->
            
                    <div class="col-sm-3">           
                      Confirm Password&nbsp;<b style="color:red">*</b>
                      <div class="has-tooltip" data-toggle="tooltip" data-placement="left" title="Minimum 8 Characters">
                        <div id="Password" class="input-group">               
                          <span class="input-group-addon"><i class="fa fa-star"></i></span>
                          <%= f.password_field :password_confirmation, minlength: 8, class: "form-control", required: true %>
                        </div>
                      </div>
                    </div> <!-- /.col -->
                  </div><!-- row ends here -->
                  <br/>

                  <div class="row">
                    <div class="col-sm-3">           
                       Date Of Birth(Format: dd/mm/yyyy)&nbsp;<b style="color:red">*</b>
                       <div class="has-tooltip" data-toggle="tooltip" data-placement="left" title="Select Your Date of Birth">
                         <div id="Password" class="input-group">               
                           <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                           <%= f.text_field :date_of_birth ,  class: "form-control", :id => "dob", required: true, readonly: true %>
                         </div>
                       </div>
                    </div> <!-- /.col -->
  
                    <div class="col-sm-3">           
                      <div id="Password" class="input-group">               
                         <%= f.check_box :invoice_format, {:class => "submittable"}, "automatic", "manual" %>
                         &nbsp;&nbsp;&nbsp;<label>Automated Invoice Number</label>  
                      </div>
                    </div> <!-- /.col -->
                  </div> <!-- row ends here -->
                 </div> <!-- /.portlet-content -->
             </div> <!-- /.portlet -->
          </div> <!-- /.row -->
          <!-- client details ends here -->
    
          <div class="row"> 
            <div class="portlet">
  
              <div class="portlet-header">
                <h3><i class="fa fa-calendar"></i>Membership Details</h3>
              </div> <!-- /.portlet-header -->

              <div class="portlet-content">
                <div class="row">
                  <div class="col-sm-4">           
                     <%= f.fields_for :membership do |user_membership| %>
                        Mobile Number&nbsp;<b style="color:red">*</b>
                        <div class="has-tooltip" data-toggle="tooltip" data-placement="left" title="Should Be 10 Digits">
                          <div id="phone" class="input-group">      
                             <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
                            <%= user_membership.text_field :phone_number , :minlength => 10,  :maxlength => 10,  class: "form-control" %>
                          </div>
                        </div>
                     <% end %>  
                  </div> <!-- /.col -->
                </div> <!-- row ends here -->
              </div> <!-- /.portlet-content -->
            </div> <!-- /.portlet -->
          </div> <!-- /.row -->
          <!-- membership ends here -->
          
          <div class="row">      
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <%= f.submit  "Update Profile", class: "btn btn-success" %>
          </div> 
      <% end %>
   </div><!--  content container ends here -->
  </div><!--content  ends here -->
 </div><!-- container ends here -->
  


    
    
      
    
  
    
    
    