
<div class="container">
  <div class="content">
    <div class="content-container">     
   
     <div>
       <h4 class="heading-inline">Password Management</h4>        
     </div><br>

     <div class="row"> 
       <div class="portlet">

          <div class="portlet-header">
            <h3><i class="fa fa-user"></i>Change Password</h3>
          </div> <!-- /.portlet-header -->
         
         

          <div class="portlet-content">
            <%= form_for(@user, :url => '/authusers/update') do |f| %>
              <div class="col-sm-8">
                 <h5>Request you to change your password, since it is the first time you sign in to VatOnWheels</h5>
                 <br/><br/>
                <% if alert %>
                  <div class="row">
                    <div class="col-md-6">
                      <div class='alert alert-danger'><%= alert %></div>
                    </div>
                  </div>
                <% end %>
  
                 <div class="row">
                   <label class="col-md-3">New Password</label>
                   <div class="has-tooltip" data-toggle="tooltip" data-placement="left" title="Minimum 8 Characters">
                     <div class="col-md-6">
                       <div id="name" class="input-group">      
                         <span class="input-group-addon"><i class="fa fa-star"></i></span>
                         <%= f.password_field :password, minlength: 8, class: "form-control", autofocus: true %>
                       </div>
                     </div>
                   </div>
                 </div>
                 <br>
      
                 <div class="row">
                   <label class="col-md-3">Confirm Password</label>
                   <div class="has-tooltip" data-toggle="tooltip" data-placement="left" title="Minimum 8 Characters">
                     <div class="col-md-6">
                      <div id="name" class="input-group">               
                         <span class="input-group-addon"><i class="fa fa-star"></i></span>
                        <%= f.password_field :password_confirmation, minlength: 8, autocomplete: "off", class: "form-control" %>
                      </div>
                     </div>
                   </div>
                 </div>
                 <br>
      
                 <div class="row">
                   <div class="col-md-3"></div>
                     <div class="col-md-6">
                       <%= f.submit "Update Password" , class: "btn btn-success" %>
                     </div>
                   </div>
                 </div> 
            <% end %>
         </div> <!-- /.portlet-content -->
       </div> <!-- /.portlet -->
     </div> <!-- /.row -->
    </div> <!-- content container ends here -->
   </div> <!-- content ends here -->
 </div> <!-- container ends here-->
 