<h3> Change Password</h3>

<%= form_for(@user, :url => '/authusers/update') do |f| %><br/>

  <div class="field">
    <label>Password </label><br/>
    <%= f.password_field :password %><br/><p>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div><br/>

<%= f.submit %>
<% end %>