
<!DOCTYPE html>
<html>
<head>
  <title>WorkingApp</title>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

   <%= csrf_meta_tags %>
 
</head>
<body>
  <p class= "notice"><%= notice %></p>
  <p class= "alert"><%= alert %></p>
  
 

  <% if authuser_signed_in? %>
   <h2><center>VatOnWheels - We make billing easier</center></h2><br/><p>
  <h3><%= current_authuser.name %></h3>
  <% end %>

  
  
  
  
  <%= link_to "Home Page", dashboards_user_dashboard_path %>|
  <% if current_authuser.main_roles.count > 1 %>
  <%= link_to "Change Role", authusers_change_role_path %> |
  <% end %>
  <% if current_authuser.products.nil? %>
  <%= link_to "Add Products", new_product_path %>|
  <% else %>
  <%= link_to "View Products", products_product_user_path %>|
  <% end %>
 
   
  <%= link_to "Add Products", new_product_path %>|
  
  <% if current_authuser.auth_user_category.blank? %> 
  <%= link_to "View Commodities", new_auth_user_category_path %>|
    <% else %> 
      <%= link_to "View Commodities", auth_user_categories_path %>|
    <% end %>

  <%= link_to "Add Customer", new_customer_path %>|
  <%= link_to "View Customers", customers_user_customer_path %>|
  
   <%= link_to "Create New Bill", new_bill_path(current_authuser.id) %>|
   <%= link_to "View Bills", bills_user_bill_path %>|
   <%= link_to "Sign Out", destroy_authuser_session_path, method: :delete %>
<hr/>
    <%= yield %>

  
  
  

</body>
</html>






