<!DOCTYPE html>
<html>
<head>
  <title>VatonWheels</title>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 
   
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
  
 
   <%= csrf_meta_tags %>
  
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

 
</head>
 <body> 
  
<% if authuser_signed_in? %>
   
<div class="navbar">
<div class="container">
  
<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
<i class="fa fa-cogs"></i>
</button>
<%= link_to "Vatonwheels.com", root_path , class: "navbar-brand " %> 
</div> <!-- /.navbar-header -->
   
   <!-- <user name and change role -->
   <!-- <div class="col-md-8">  -->
     <!--<%= current_authuser.name %> -->
  <!-- </div>-->
     <!-- <% if current_authuser.main_roles.count >1 %> -->
      <!-- <li>     -->
    <!-- <%= link_to authusers_change_role_path do %> -->
 <!--   <i class="fa fa-dashboard"></i> Change Role -->
    <!-- <% end %> -->
       
    <!--<% end %> -->
    <!-- </li> -->
   <!-- </div> -->
     
  
   
<!-- right Navigation for profile -->
<div class="navbar-collapse collapse">
<ul class="nav navbar-nav navbar-right">   
<li class="dropdown navbar-profile">
<a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
<%= image_tag "avatar-1-xs.jpg"  , class: "navbar-profile-avatar"%>
<!--<img src="img/avatar-1-xs.jpg" class="navbar-profile-avatar" alt="">  -->
<span class="navbar-profile-label">rod@rod.me &nbsp;</span>
<i class="fa fa-caret-down"></i>
</a>

<ul class="dropdown-menu" role="menu">
<li>
<%= link_to authusers_client_new_path do %>
<!-- <a href="./page-profile.html">-->
<i class="fa fa-user"></i> 
<!-- <a href="./page-profile.html"> -->
&nbsp;&nbsp;My Profile
<% end %>
</li>
            
<li class="divider"></li>
<li>
<%= link_to destroy_authuser_session_path do %>
<!--  <a href="./account-login.html"> -->
<i class="fa fa-sign-out"></i> 
&nbsp;&nbsp;Logout
<% end %>
<!-- </a>-->
</li>
</ul>
</li>
</ul>
</div> <!--/.navbar-collapse -->
</div> <!-- /.container -->
</div> <!-- /.navbar -->
       
 
   
<div class="mainbar">
<div class="container">
<button type="button" class="btn mainbar-toggle" data-toggle="collapse" data-target=".mainbar-collapse">
<i class="fa fa-bars"></i>
</button>
<div class="mainbar-collapse collapse">
<ul class="nav navbar-nav mainbar-nav">
        
<!-- Dashboards -->
<% if controller.controller_name == "dashboards" %>
<li class="active">
<% else %>
<li>
<% end %>
<%= link_to dashboards_user_dashboard_path  do %>
<i class="fa fa-dashboard"></i> Dashboard
<% end %>
</li>

<!-- Change Role -->
<% if controller.action_name == "change_role" %> 
<li class= "active dropdown"> 
<% else %>
<li> 
<% end %>
<% if current_authuser.main_roles.count > 1 %>
<%= link_to authusers_change_role_path do %> 
<i class="fa fa-dashboard"></i> Change Role 
<% end %>
<% end %>
</li>

  <!-- <% if controller.action_name == "change_role" %>
<li class= "active dropdown"> -->
  <!-- <% else %>
  <li> -->
    <!-- <% end %> -->

<!-- <% if current_authuser.main_roles.count > 1 %> -->
<!--<%= link_to authusers_change_role_path do %> 
<i class="fa fa-dashboard"></i> Change Role -->
<!-- <% end %> -->
<!-- <% end %> -->
<!-- </li>-->
  
  

<!-- User Commodities -->
<% if controller.controller_name == "usercategories" %>
<li class="active dropdown">
<% else %>
<li class="dropdown ">   
<% end %>

<%= link_to usercategories_path, class: "dropdown-toggle", data: {toggle: "dropdown", hover: "dropdown"} do %>
<i class="fa fa-files-o"></i> Commodities<span class="caret"></span>
<% end %>

<ul class="dropdown-menu">   
<li>
<% if current_authuser.usercategories.blank? %> 
<%= link_to new_usercategory_path do %>
<i class="fa fa-user nav-icon"></i> Add Commodity
<% end %>
<% else %> 
<%= link_to usercategories_path do %>
<i class="fa fa-user nav-icon"></i> Manage Commodities</li>  
<% end %>
<% end %>
</ul>
</li>

  
<!-- Products -->
<% if controller.controller_name == "products" %>
<li class="active dropdown">
<% else %>
<li class="dropdown ">   
<% end %>
<%= link_to products_product_user_path, :class => "dropdown-toggle", data: {toggle: "dropdown", hover: "dropdown"} do %>
<i class="fa fa-align-left"></i>Products<span class="caret"></span>    
<% end %>
  
<ul class="dropdown-menu">   
<li>
<% if current_authuser.usercategories.blank? %> 
<%= link_to new_usercategory_path do %>
<i class="fa fa-user nav-icon"></i> Add Commodity First
<% end %>
<% elsif current_authuser.products.blank? %>
<%= link_to new_product_path do %>
<i class="fa fa-user nav-icon"></i> Add Product  
<% end %>
<% else %>
<%= link_to products_product_user_path do %>
<i class="fa fa-user nav-icon"></i> Manage Products</li>  
<% end %>
  <li><%= link_to products_product_import_report_path do %>
<i class="fa fa-user nav-icon"></i> Import Products</li>  
<% end %>
<% end %>
</ul>
</li>


<!-- Customers -->
<% if controller.controller_name == "customers" %>
<li class="active dropdown">
<% else %>
<li class="dropdown ">   
<% end %>

<%= link_to customers_user_customer_path, class: "dropdown-toggle", data: {toggle: "dropdown", hover: "dropdown"} do %>
<i class="fa fa-desktop"></i>Customers<span class="caret"></span>
<% end %>

<ul class="dropdown-menu">   
<li>
<% if current_authuser.customers.blank? %> 
<%= link_to new_customer_path do %>
<i class="fa fa-user nav-icon"></i> Add Customer
<% end %>
<% else %> 
<%= link_to customers_user_customer_path do %>
<i class="fa fa-user nav-icon"></i> Manage Customers</li>  
<% end %>
<li><%= link_to customers_customer_import_report_path do %>
<i class="fa fa-user nav-icon"></i> Import Customer</li>  
<% end %>
<% end %>
</ul>
</li>

  
<!--Bills -->
<% if controller.controller_name == "bills" %>
<li class="active dropdown">
<% else %>
<li class="dropdown ">   
<% end %>
<%= link_to bills_user_bill_path, class: "dropdown-toggle", data: {toggle: "dropdown", hover: "dropdown"} do %>
<i class="fa fa-align-left"></i>Bills Management<span class="caret"></span>
<% end %>

<ul class="dropdown-menu">
<li><%= link_to new_bill_path do %>
<i class="fa fa-user nav-icon"></i> Create New Bill</li>  
<% end %>
<li><%= link_to bills_user_bill_path do %>
<i class="fa fa-user nav-icon"></i> View Bills </li>  
<% end %>  
</ul>
</li>
  <!-- bills ends here -->
  
  
<li class="dropdown ">   
<%= link_to bills_bill_local_sales_reports_path, class: "dropdown-toggle", data: {toggle: "dropdown", hover: "dropdown"} do %>
<i class="fa fa-align-left"></i>Utilities<span class="caret"></span>
<% end %>

<ul class="dropdown-menu">
<li><%= link_to bills_bill_local_sales_reports_path do %>
<i class="fa fa-user nav-icon"></i> Local Sales </li>  
<% end %>
<li><%= link_to bills_bill_interstate_sales_reports_path do %>
<i class="fa fa-user nav-icon"></i> Interstate Sales </li>  
<% end %>
<li><%= link_to bills_bill_tally_import_reports_path do %>
<i class="fa fa-user nav-icon"></i> Tally Importable </li>  
<% end %>  
</ul>
</li>
  



</ul><!-- nav navbar-nav mainbar-nav --ends here -->
  
</div> <!-- /.mainbar-collapse -->   
</div> <!-- /.container --> 
</div> <!-- /.mainbar -->
   
  <!--    <%= link_to "Sign out", destroy_authuser_session_path %> -->
<!-- <%= link_to "Sign Out", destroy_authuser_session_path, method: :delete %> -->
<% end %>
<%= yield %>
   
<!-- <p class= "notice"><%= notice %></p>
<p class= "alert"><%= alert %></p> -->
   
 
  
<footer class="footer">
<div class="container">
<div class="row">

<div class="col-sm-9">&copy; 2015 vatonwheels.com </div> <!-- /.col -->
<div class="col-sm-3">Design and Developed by <a href="http://iprimitus.com" target="_blank" class="iprim">iprimitus.com</a></div> <!-- /.col -->

</div> <!-- /.row -->
</div> <!-- /.container -->
</footer>

</body>
</html>

  
  
  
 




